*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:active,
a:focus {
  outline: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
button:active,
button:focus {
  outline: none;
}
:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

html {
  // font-size: $fs;
  @media (min-width: 320px) {
    font-size: getVw($fs, 340px / 100);
  }
  @each $breakpoint in (375px, 576px, 768px, 1280px) {
    @media (min-width: #{$breakpoint}) {
      font-size: getVw($fs, $breakpoint / 100);
    }
  }
  @media (min-width: 1280px) {
    font-size: getVw($fs, 1920px / 100);
  }
  @media (min-width: 1920px) {
    font-size: getVw($fs, 1920px / 100);
  }
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @include styled-scrollbar;

  font-family: Rubik;
}

.body {
  min-width: 100vw;
  overflow-x: hidden;

  @include f-main();
  @include fsl(16px, 130%);
  background: color(white);
  // background: color(black);
  font-family: Rubik;
  color: color(text);
  font-weight: 400;

  position: relative;

  &.overflow {
    overflow-y: hidden;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul,
ol {
  list-style: none;
  font-family: Rubik;
}

a {
  // color: var(--color-black);
  text-decoration: none;
  color: color(text);
  font-family: Rubik;
}

address {
  font-style: normal;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.index-list {
  margin: rem(40px);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(20px);

  li a {
    display: block;
    border: 1px solid black;
    padding: rem(20px);
  }
}

button {
  border: none;
  background: none;
  cursor: pointer;
  color: color(text);
  font-family: Rubik;
}

.conatiner {
  @media #{media('>',t)} {
    // padding: 0 rem(8px);
  }
}

.test {
  border: 1px solid red;
}

.test2 {
  border: 1px solid green;
}

.desktop {
  @media #{media('<',t)} {
    display: none;
  }
}

.tablet {
  display: block;

  @media #{media('>',t)} {
    display: none;
  }

  @media #{media('<',m)} {
    display: none;
  }
}

.mobile {
  @media #{media('>',t)} {
    display: none;
  }
}

.overlay {
  width: 100vw;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  background: color(text);

  visibility: hidden;
  opacity: 0;

  transition: $transition;
  transition-duration: 0.8s;

  z-index: 5;
  // z-index: 8;

  &.show {
    opacity: 0.3;
    visibility: visible;
  }

  &.submodal {
    z-index: 11;
  }

  &.high {
    z-index: 8;
  }

  &.low {
    z-index: 5;
  }
}

.hide {
  opacity: 0;
  visibility: 0;
}

.none {
  display: none;
}

.section {
  &-slider {
    padding: 0 rem(60px);

    @media #{media('<',t)} {
      padding: rem(12px);
    }
  }

  &-header {
    width: 100%;
    height: rem(88px);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{media('<',t)} {
      height: rem(60px);
    }
  }

  &-title {
    font-family: Rubik;
    font-size: rem(40px);
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 44px */
    letter-spacing: rem(-0.8px);
    text-transform: uppercase;

    @media #{media('<',t)} {
      font-size: rem(20px);
      line-height: 120%; /* 24px */
      letter-spacing: rem(-0.4px);
    }

    &.grey {
      color: #898f9a;
    }

    &.black {
      color: color(text);
    }
  }

  &-link {
    width: max-content;
    height: rem(72px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(48px);

    padding: 0 rem(20px);
    background: color(blue);
    color: color(white);
    border-radius: rem(6px);
    font-family: Rubik;
    font-size: rem(20px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: rem(-0.2px);

    transition: $transition;

    &:focus {
      background: color(dark-blue);
    }

    @media #{media('>',t)} {
      &:hover {
        background: color(dark-blue);
      }
    }

    @media #{media('<',t)} {
      height: rem(40px);
      gap: rem(16px);

      margin-top: rem(16px);
      padding: 0 rem(12px);
      border-radius: rem(4px);
      font-size: rem(12px);
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 12px */
      letter-spacing: rem(-0.12px);
    }

    &-svg {
      width: rem(24px);
      height: rem(24px);

      @media #{media('<',t)} {
        width: rem(16px);
        height: rem(16px);
      }
    }

    &:active {
      background: color(dark-blue);
    }

    &.desktop {
      @media #{media('<',t)} {
        display: none;
      }
    }

    &.mobile {
      @media #{media('>',t)} {
        display: none;
      }
    }

    &.disabled {
      background: color(disabled);

      color: color(dark-grey);

      pointer-events: none;

      .section-link__svg {
        path {
          fill: color(dark-grey);
        }
      }
    }

    &__svg {
      width: rem(24px);
      height: rem(24px);

      @media #{media('<',t)} {
        width: rem(16px);
        height: rem(16px);
      }

      &_white {
        path {
          stroke: color(white);
        }
      }
    }
  }
}

.separator-line {
  width: 100%;
  height: 1px;
  background: color(separator);
}

.back-link {
  width: max-content;
  height: rem(72px);

  padding: 0 rem(20px);

  display: flex;
  align-items: center;
  gap: rem(12px);

  background: color(light-grey);
  border-radius: rem(6px);

  transition: $transition;

  * {
    transition: $transition;
  }

  @media #{media('>',t)} {
    &:hover {
      background: color(hover-grey);
    }
  }

  @media #{media('<',t)} {
    height: rem(40px);

    padding: 0 rem(12px);

    gap: rem(8px);

    border-radius: rem(4px);
  }

  &:active {
    background: color(hover-grey);
  }

  &.disabled {
    background: color(disabled);

    pointer-events: none;

    .back-link__text {
      color: color(dark-grey);
    }

    .back-link__svg {
      path {
        fill: color(dark-grey);
      }
    }
  }

  &__svg {
    width: rem(24px);
    height: rem(24px);

    transform: rotate(90deg);

    @media #{media('<',t)} {
      width: rem(16px);
      height: rem(16px);
    }
  }

  &__text {
    font-family: Rubik;
    font-size: rem(20px);
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.01;

    @media #{media('<',t)} {
      font-size: rem(12px);
    }
  }
}

picture {
  display: block;
  height: max-content;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   box-shadow: 0 0 0 rem(100px) #132649 inset !important;
//   color: color(white) !important;
//   transition: 0s;
//   -webkit-text-fill-color: color(white) !important;
// }

// input:autofill {
//   border: 1px solid rgba(255, 255, 255, 0.12) !important;
// }

// input:-webkit-autofill {
//   border: 1px solid rgba(255, 255, 255, 0.12) !important;
// }
