.hide {
  display: none;
}

.about-company {
  &__content {
    .about-company__btn {
      font-size: rem(64px);
      line-height: 110%;
      letter-spacing: -0.04em;

      &:not(:first-of-type) {
        margin-left: rem(40px);
      }
    }
  }

  &__chapter {
    margin-top: rem(132px);

    // display: grid;
    // grid-template-columns: repeat(2, rem(896px));
    // column-gap: rem(8px);

    @media #{media('<',t)} {
      margin-top: rem(28px);

      display: grid;
      grid-template-columns: rem(350px) rem(370px);
      column-gap: rem(24px);
    }

    @media #{media('<',m)} {
      display: flex;
      flex-direction: column;
      gap: rem(12px);
    }

    &-line {
      width: rem(896px);
      height: 1px;

      margin-left: rem(904px);

      background: color(blue);

      @media #{media('<',t)} {
        display: none;
      }
    }

    &-title {
      width: rem(745px);

      margin-top: -1px;

      font-size: rem(64px);
      font-weight: 400;
      line-height: 110%;
      letter-spacing: -0.04em;

      @media #{media('<',t)} {
        width: rem(300px);

        font-size: rem(24px);
        line-height: 120%;
        letter-spacing: -0.02em;
      }

      &_top-indent {
        margin-top: rem(120px);

        @media #{media('<',t)} {
          margin-top: rem(40px);
        }
      }

      &_wide {
        width: rem(1197px);

        @media #{media('<',t)} {
          width: rem(351px);
        }
      }
    }

    &-subtitle {
      // margin-top: rem(198px);
      margin-left: rem(904px);

      font-size: rem(24px);
      font-weight: 400;
      line-height: 160%;
      letter-spacing: -0.01em;

      @media #{media('<',t)} {
        // margin-top: 0;
        margin-left: 0;

        font-size: rem(16px);
        line-height: 150%;
        letter-spacing: -0.01em;
      }

      &-wrapper {
        @media #{media('>',t)} {
          border-top: 1px solid color(blue);
        }
      }
    }
  }

  &__proposal {
    @media #{media('<',t)} {
      height: rem(440px) !important;
    }

    &_production {
      @media #{media('<',t)} {
        height: rem(400px) !important;
      }

      @media #{media('<',m)} {
        height: rem(270px) !important;
      }
    }

    &-wrapper {
      width: rem(1904px);
      // height: rem(880px);

      margin: rem(60px) rem(-52px) 0;

      @media #{media('<',t)} {
        width: rem(757px);
        // height: rem(440px);

        margin: rem(40px) rem(-8px) 0;

        .section-proposal__wrapper {
          width: rem(673px);

          margin-left: auto;
          margin-right: auto;

          @media #{media('<',m)} {
            display: none;
          }

          .section-proposal__item {
            align-self: flex-end;
          }
        }
      }

      @media #{media('<',m)} {
        width: rem(367px);
      }
    }
  }

  &__our-values {
    margin-top: rem(60px);

    display: grid;
    grid-template-columns: repeat(3, rem(595px));
    gap: rem(8px);

    @media #{media('<',t)} {
      margin-top: rem(40px);

      grid-template-columns: none;
    }

    @media #{media('<',m)} {
      margin-top: rem(16px);
    }

    &-wrapper {
      @media #{media('<',t)} {
        display: grid;
        grid-template-columns: repeat(2, rem(370px));
        column-gap: rem(4px);
      }

      @media #{media('<',m)} {
        display: block;
      }
    }
  }

  &__value {
    height: rem(329px);

    border: 1px solid color(separator);
    border-radius: rem(6px);

    padding: rem(40px);

    position: relative;

    @media #{media('<',t)} {
      height: auto;

      padding: rem(16px);
    }

    &-title {
      font-family: Rubik;
      font-size: rem(24px);
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      @media #{media('<',t)} {
        font-size: rem(16px);
        line-height: 110%;
        letter-spacing: -0.04em;
      }
    }

    &-desc {
      margin-top: rem(12px);

      color: color(dark-grey);

      font-family: Rubik;
      font-size: rem(20px);
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.01em;

      // overflow: hidden;
      // text-overflow: ellipsis;
      // display: -moz-box;
      // -moz-box-orient: vertical;
      // display: -webkit-box;
      // -webkit-line-clamp: 3;
      // -webkit-box-orient: vertical;
      // line-clamp: 3;
      // box-orient: vertical;

      @media #{media('<',t)} {
        font-size: rem(14px);
        letter-spacing: -0.02em;
      }
    }

    &-counter {
      position: absolute;
      right: rem(40px);
      bottom: rem(40px);

      color: color(blue);
      font-family: Rubik;
      font-size: rem(84px);
      font-weight: 400;
      line-height: 80%;
      letter-spacing: -0.04em;
      text-transform: uppercase;

      @media #{media('<',t)} {
        width: fit-content;

        position: static;

        margin: rem(32px) 0 0 auto;

        font-size: rem(32px);
      }
    }
  }

  &__accordions {
    margin-top: rem(60px);

    display: flex;
    flex-direction: column;
    gap: rem(16px);

    @media #{media('<',t)} {
      margin-top: rem(16px);
    }

    &_safety {
      margin-top: rem(120px);

      @media #{media('<',t)} {
        margin-top: rem(40px);
      }
    }
  }

  &__accordion {
    .ac {
      border: 1px solid color(separator);
      border-radius: rem(6px);

      overflow: hidden;

      transition: $transition;

      @media #{media('>',t)} {
        &:hover {
          background: color(light-grey);

          border-color: transparent;

          .about-company__accordion-btn {
            background: color(blue);

            path {
              fill: color(white);
            }
          }
        }
      }

      &.is-active {
        border-color: color(blue);
        background: color(white);

        .about-company__accordion-content {
          border-top: 1px solid color(separator);

          transition: $transition 0.05s;
        }

        .about-company__accordion-btn {
          background: color(blue);
        }

        .about-company__accordion-svg {
          transform: rotate(90deg);

          path {
            fill: color(white);
          }
        }
      }
    }

    &-header {
      height: rem(152px);

      padding: 0 rem(40px);

      display: grid;
      grid-template-columns: rem(705px) rem(899px) rem(100px);
      column-gap: rem(8px);
      align-items: center;

      position: relative;

      cursor: pointer;

      @media #{media('<',t)} {
        // height: rem(56px);
        height: auto;

        padding: rem(19px) rem(8px) rem(19px) rem(16px);

        grid-template-columns: rem(346px) rem(310px) rem(40px);
        column-gap: rem(12px);
        align-items: normal;
      }

      @media #{media('<',m)} {
        grid-template-columns: rem(20px) rem(242px) auto;
      }

      &_safety {
        display: flex;
        justify-content: space-between;
      }
    }

    &-counter {
      color: color(dark-grey);
      font-family: Rubik;
      font-size: rem(24px);
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      @media #{media('<',t)} {
        font-size: rem(16px);
        font-weight: 400;
        line-height: 110%;
        letter-spacing: -0.04em;
      }
    }

    &-title {
      font-size: rem(24px);
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      @media #{media('<',t)} {
        font-size: rem(16px);
        line-height: 110%;
        letter-spacing: -0.04em;

        padding-right: rem(10px);
      }

      &_safety {
        text-transform: none;
      }
    }

    &-btn {
      width: rem(72px);
      height: rem(72px);

      margin-left: rem(28px);

      background: color(light-grey);
      border-radius: rem(4px);

      display: flex;
      align-items: center;
      justify-content: center;

      transition: $transition;

      @media #{media('<',t)} {
        width: rem(40px);
        height: rem(40px);

        position: absolute;
        top: rem(8px);
        right: rem(8px);

        margin-left: 0;
      }
    }

    &-svg {
      width: rem(24px);
      height: rem(24px);

      transform: rotate(-90deg);

      transition: $transition;

      @media #{media('<',t)} {
        width: rem(16px);
        height: rem(16px);
      }

      path {
        transition: $transition;
      }
    }

    &-panel {
      padding: 0 rem(40px) rem(40px) rem(753px);

      @media #{media('<',t)} {
        padding: rem(20px) rem(16px) rem(16px) rem(374px);
      }

      @media #{media('<',m)} {
        padding-left: rem(16px);
      }

      &_safety {
        padding: rem(40px);

        @media #{media('<',t)} {
          padding: rem(16px);
        }

        .about-company__accordion-panel-title {
          width: rem(594px);

          font-size: rem(24px);
          font-weight: 400;
          line-height: 160%;
          letter-spacing: -0.01em;

          @media #{media('<',t)} {
            display: none;
          }
        }
      }
    }

    &-content {
      border-top: 1px solid transparent;
      padding-top: rem(40px);

      transition: $transition;

      @media #{media('<',t)} {
        border-top: 1px solid color(separator);

        padding-top: rem(16px);
      }
    }

    &-bid-btn {
      width: rem(294px);

      @media #{media('<',t)} {
        width: rem(150px);

        margin-top: 0;
      }

      .section-link__svg {
        path {
          stroke: color(white);
        }
      }
    }

    &-list {
      width: rem(610px);

      display: flex;
      flex-direction: column;
      gap: rem(20px);

      margin-bottom: rem(40px);

      @media #{media('<',t)} {
        width: rem(354px);

        gap: rem(8px);

        margin-bottom: rem(24px);
      }

      @media #{media('<',m)} {
        width: 100%;
      }
    }

    &-item {
      margin-left: rem(40px);

      font-size: rem(20px);
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.01em;

      position: relative;

      @media #{media('<',t)} {
        margin-left: rem(28px);

        font-size: rem(14px);
        letter-spacing: -0.02em;
      }

      &::before {
        content: "";

        width: rem(8px);
        height: rem(8px);

        display: block;
        position: absolute;
        top: rem(10px);
        left: rem(-40px);

        border-radius: 50%;
        background: color(blue);

        @media #{media('<',t)} {
          width: rem(4px);
          height: rem(4px);

          top: rem(6px);
          left: rem(-28px);
        }
      }
    }

    &-safety {
      &-cards {
        display: flex;
        flex-direction: column;
      }

      &-card {
        height: rem(207px);

        margin-top: rem(40px);

        padding-top: rem(20px);

        display: grid;
        grid-template-columns: rem(856px) auto;
        column-gap: rem(8px);

        border-top: 1px solid color(separator);

        @media #{media('<',t)} {
          height: auto;

          margin-top: rem(24px);

          padding-top: 0;

          display: block;

          border-top: none;

          &:first-of-type {
            margin-top: 0;
          }
        }
      }

      &-year {
        font-size: rem(32px);
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.01em;

        @media #{media('<',t)} {
          font-size: rem(18px);
          letter-spacing: -0.01em;
        }
      }

      &-documents {
        display: flex;
        gap: rem(8px);

        @media #{media('<',t)} {
          margin-top: rem(12px);
        }

        @media #{media('<',m)} {
          flex-direction: column;
        }

        .product-hero__accordion-document:not(:first-of-type) {
          margin-top: 0;
        }
      }

      &-link {
        width: rem(424px);

        @media #{media('<',m)} {
          width: 100%;
        }
      }
    }
  }

  &__manufacture {
    &-list {
      &-wrapper {
        margin-top: rem(60px);

        padding-left: rem(904px);
        border-top: 1px solid color(separator);

        counter-reset: myCounter;

        @media #{media('<',t)} {
          width: rem(370px);

          margin-top: rem(-29px);
          margin-left: rem(374px);

          padding-left: 0;
        }

        @media #{media('<',m)} {
          width: 100%;

          margin-top: rem(24px);
          margin-left: 0;
        }
      }
    }

    &-item {
      padding: rem(20px) 0;

      display: flex;

      font-size: rem(20px);
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.01em;

      @media #{media('<',t)} {
        padding: rem(16px) 0;
        flex-direction: column;
        gap: rem(16px);

        font-size: rem(14px);
        letter-spacing: -0.02em;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid color(separator);
      }

      &::before {
        width: rem(302px);

        // margin-right: rem(276px);

        flex-shrink: 0;

        counter-increment: myCounter;
        content: "0" counter(myCounter);
        color: color(blue);
        display: inline-block;
        font-size: rem(24px);
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.02em;

        @media #{media('<',t)} {
          font-size: rem(16px);
          line-height: 150%;
          letter-spacing: -0.01em;
        }
      }
    }

    &-image {
      width: rem(1904px);
      height: rem(880px);

      border-radius: rem(6px);

      overflow: hidden;

      @media #{media('<',t)} {
        width: rem(760px);
        height: rem(400px);
      }

      @media #{media('<',m)} {
        width: rem(367px);
        height: rem(518px);
      }

      img {
        border-radius: rem(6px);
      }

      &-wrapper {
        width: rem(1904px);

        margin-top: rem(40px);
        margin-left: rem(-52px);

        position: relative;

        border-radius: rem(6px);

        overflow: hidden;

        @media #{media('<',t)} {
          width: rem(760px);

          margin-top: rem(8px);
          margin-left: rem(-8px);
        }

        @media #{media('<',m)} {
          width: rem(367px);
        }
      }

      &-note {
        width: rem(896px);
        height: rem(417px);

        background: color(blue);
        border-radius: rem(6px);

        padding: rem(20px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        top: rem(52px);
        left: rem(52px);

        @media #{media('<',t)} {
          width: rem(367px);
          height: rem(182px);

          top: rem(12px);
          left: rem(12px);

          padding: rem(12px);
        }

        @media #{media('<',m)} {
          position: static;

          margin-top: rem(6px);
        }
      }

      &-title {
        color: color(white);

        font-size: rem(84px);
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.04em;
        text-transform: uppercase;

        @media #{media('<',t)} {
          font-size: rem(28px);
        }
      }

      &-subtitle {
        font-size: rem(20px);
        letter-spacing: -0.01em;

        line-height: 140%;

        margin-top: rem(4px);

        @media #{media('<',t)} {
          font-size: rem(12px);
          line-height: 140%;
          letter-spacing: -0.01em;
        }
      }

      &-desc {
        margin-left: rem(281px);

        color: color(white);

        font-size: rem(20px);
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.01em;

        @media #{media('<',t)} {
          margin-left: 0;

          font-size: rem(14px);
          line-height: 150%;
          letter-spacing: -0.02em;
        }
      }

      &.desktop {
        @media #{media('<',t)} {
          display: none;
        }
      }

      &.tablet {
        @media #{media('>',t)} {
          display: none;
        }

        @media #{media('<',m)} {
          display: none;
        }
      }

      &.mobile {
        @media #{media('>',m)} {
          display: none;
        }
      }
    }

    &-standards {
      margin-top: rem(120px);

      @media #{media('<',t)} {
        margin-top: rem(24px);
      }

      &-inner {
        display: grid;
        grid-template-columns: rem(745px) rem(745px);
        gap: rem(159px);

        @media #{media('<',t)} {
          grid-template-columns: rem(350px) rem(370px);
          gap: rem(24px);
        }

        @media #{media('<',m)} {
          grid-template-columns: none;
          gap: rem(12px);
        }
      }

      &-title {
        font-size: rem(32px);
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.01em;

        @media #{media('<',t)} {
          font-size: rem(18px);
          letter-spacing: -0.01em;
        }
      }

      &-subtitle {
        font-size: rem(24px);
        font-weight: 400;
        line-height: 160%;
        letter-spacing: -0.01em;

        @media #{media('<',t)} {
          font-size: rem(16px);
          line-height: 150%;
          letter-spacing: -0.01em;
        }
      }
    }

    &-marquee {
      width: max-content;
      // height: rem(133px);

      display: flex;
      align-items: center;

      color: color(blue);

      font-size: rem(148px);
      font-weight: 400;
      line-height: 90%;
      letter-spacing: -0.08em;
      text-transform: uppercase;

      white-space: nowrap;

      @media #{media('<',t)} {
        font-size: rem(40px);
        line-height: 100%;
      }

      * {
        flex-shrink: 0;

        display: inline-block;
      }

      &-wrapper {
        width: 100vw;

        display: flex;

        margin-left: rem(-60px);
        margin-top: rem(120px);

        @media #{media('<',t)} {
          margin-top: rem(40px);
          margin-left: rem(-12px);
        }
      }

      &-item {
        width: max-content;
        padding: 0 rem(90px);

        @media #{media('<',t)} {
          padding: 0 rem(24px);
        }
      }

      &-divider {
        width: rem(18px);
        height: rem(18px);

        border-radius: rem(4px);

        background: color(blue);

        @media #{media('<',t)} {
          width: rem(6px);
          height: rem(6px);

          border-radius: rem(2px);
        }
      }
    }

    &-modern {
      @media #{media('<',t)} {
        margin-top: rem(-58px);
      }

      @media #{media('<',m)} {
        margin-top: rem(24px);
      }
    }

    &-cards {
      margin-top: rem(120px);

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: rem(8px);

      @media #{media('<',t)} {
        margin-top: rem(40px);
      }

      @media #{media('<',m)} {
        grid-template-columns: none;
      }
    }

    &-card {
      width: 100%;
      height: rem(398px);

      padding: rem(40px);

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      border-radius: rem(6px);
      border: 1px solid color(separator);

      @media #{media('<',t)} {
        height: rem(258px);

        padding: rem(16px);

        border-radius: rem(4px);
      }

      @media #{media('<',m)} {
        height: auto;

        gap: rem(24px);
      }

      &-title {
        font-size: rem(20px);
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.01em;
        text-transform: uppercase;

        @media #{media('<',t)} {
          font-size: rem(12px);
        }
      }

      &-svg {
        width: rem(100px);
        height: rem(100px);

        margin-left: auto;
        margin-right: 0;

        @media #{media('<',t)} {
          width: rem(60px);
          height: rem(60px);
        }
      }

      * {
        flex-shrink: 0;
      }
    }
  }
}
