// .section-objects {
//     margin-top: rem(128px);
// }

.objects-slider {
    display: grid;
    grid-template-columns: repeat(2, rem(896px));
    gap: rem(8px);

    margin-top: rem(40px);

    position: relative;

    @media #{media('<',t)} {
        height: auto;
        display: block;
        margin-top: 0;

        background: color(light-grey);
        padding: rem(8px);
        border-radius: rem(4px);
    }

    @media #{media('<',m)} {
        background: none;
        padding-left: 0;
        padding-right: 0;

        display: flex;
        flex-direction: column-reverse;
    }

    &__desc {
        width: rem(896px);
        height: rem(700px);

        padding: rem(40px);
        background: color(light-grey);
        border-radius: rem(6px);

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media #{media('<',t)} {
            width: 100%;
            height: auto;
            padding: 0;
        }

        @media #{media('<',m)} {
            display: none;
            background: none;
        }

        &-mobile {
            margin-top: rem(8px);

            color: color(text);
            font-family: Rubik;
            font-size: rem(14px);
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21px */
            letter-spacing: rem(-0.28px);
        }
    }

    &__img {
        width: rem(896px);
        height: rem(700px);

        // background: color(light-grey);



        border-radius: rem(6px);
        
        overflow: hidden;
        -webkit-transform: translateZ(0);
        -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

        @media #{media('<',t)} {
            width: 100%;
            height: rem(316px);

            margin-top: rem(8px);
            border-radius: rem(2px);
        }

        @media #{media('<',m)} {
            // width: rem(261px);
            width: 100vw;
            height: auto;

            margin-top: 0;
            overflow: visible;

            margin-left: rem(-12px);

            border-radius: unset;
        }

        // .swiper-wrapper {
        //     @media #{media('<',m)} {
        //         gap: rem(8px);
        //     }
        // }

        .swiper-wrapper {
            // padding-left: rem(12px);
            // padding-right: rem(12px);

            @media #{media('<',t)} {}

            @media #{media('<',m)} {
                padding-left: rem(12px);
            }
        }

        .swiper-slide {
            @media #{media('<',m)} {
                width: rem(261px) !important;
                // height: rem(202px);
                border-radius: rem(2px);
                overflow: hidden;
                -webkit-transform: translateZ(0);
                -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

                .objects-slider__image {
                    height: rem(202px);
                    width: rem(259px);

                    border-radius: rem(2px);
                    overflow: hidden;
                    -webkit-transform: translateZ(0);
                    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
                }
            }
        }
    }

    &__swiper {

        @media #{media('<',t)} {
            width: rem(744px);
            overflow: scroll;
            -ms-overflow-style: none; 
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            } 

            margin-left: rem(-8px);
            padding-left: rem(8px);

            margin-right: rem(-8px);
        }

        .swiper-wrapper {
            height: auto;
            
            display: flex;
            flex-direction: column;
            gap: rem(8px);

            @media #{media('<',t)} {
                flex-direction: row;
                gap: 0;
                // gap: rem(4px);
            }

            // @media #{media('<',m)} {
            //     gap: rem(8px);
            // }
        }
    }

    &__thumbs {


        .swiper-slide {
            width: max-content;

            @media #{media('<',m)} {
                width: rem( 261px);
                margin-right: 0;
            }

            * {
                transition: $transition;
            }

            &__thumb-object {
                display: block;
                padding: rem(8px) rem(16px);

                background: color(white);
                border-radius: rem(4px);

                color: color(text);
                font-family: Rubik;
                font-size: rem(20px);
                font-style: normal;
                font-weight: 400;
                line-height: 150%; /* 30px */
                letter-spacing: rem(-0.2px);

                @media #{media('<',t)} {
                    padding: rem(8px) rem(12px);
                    font-size: rem(12px);
                    letter-spacing: rem(-0.12px);
                }

                @media #{media('<',m)} {
                    text-align: left;
                    padding: 0;
                    pointer-events: none;
                }

                & + & {
                    margin-top: rem(8px);
                }
            }

            &-active {
                .swiper-slide__thumb-object {
                    background: color(blue);
                    color: color(white);

                    @media #{media('<',m)} {
                        color: inherit;
                        background: none;
                    }
                }
            }
        }
    }

    &__controls {
        display: flex;
        justify-content: space-between;
        align-items: end;

        &.desktop {
            @media #{media('<',t)} {
                display: none;
            }
        }
    }

    &__btns {
        display: flex;
        gap: rem(8px);
    }

    &__btn {
        width: rem(72px);
        height: rem(72px);

        border-radius: rem(4px);
        background: color(white);

        &-inner {
            display: grid;
            align-items: center;
            justify-content: center;
        }

        &-svg {
            width: rem(24px);
            height: rem(24px);
        }

        &.right {
            transform: rotate(180deg);
        }
    }

    &__pagination {
        width: fit-content !important;
        height: fit-content !important;

        display: flex;
        align-items: baseline !important;

        .swiper-pagination-bullet {
            width: rem(4px);
            height: rem(32px);

            border-radius: 1px;
            margin: 0 0 0 rem(12px) !important;
            padding: 0 !important;

            background: color(white);
            opacity: 1;

            transition: $transition;

            &:first-of-type {
                margin-left: 0 !important;
            }

            &-active {
                background: color(blue);
            }
        }

    }

    &__icon {
        width: rem(180px);
        height: rem(180px);

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        background: color(text);
        border-radius: rem(4px);

        overflow: hidden;
        // -webkit-transform: translateZ(0);
        // -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);

        &-inner {
            width: 100%;
            height: 100%;

            position: relative;
        }

        &-bg {
            width: 100%;
            height: 100%;
            
            position: absolute;

            top: 0;
            left: 0;
        }

        &-svg {
            width: 100%;
            height: 100%;
        }

        &.desktop {
            @media #{media('<',t)} {
                display: none;
            }
        }

        &-wrapper {
            transition-delay: .5s;

            .swiper-slide {

                .objects-slider__icon-svg {
                    // position: relative;
                    // top: -100%;
                    opacity: 0;

                    transition: .5s;
                }

                &-active {
                    .objects-slider__icon-svg {
                        // top: 0;
                        opacity: 1;
                        transition: .5s .5s;

                        // transition: .5s .55s;

                    }
                }
            }
        }
    }

    &__image {
        &.desktop {
            @media #{media('<',t)} {
                display: none;
            }

            @media #{media('<',m)} {
                display: block;
            }
        }

        &.tablet {
            @media #{media('>',t)} {
                display: none;
            }

            @media #{media('<',m)} {
                display: none;
            }
        }
    }
}

.objects-swiper-image {
    @media #{media('<',m)} {
        width: 100vw;
        padding-right: rem(24px);
    }
}

.objects-slider__swiper .swiper-slide:last-of-type {
    padding-right: rem(8px);
}