.icon-label {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(rem(10px), -50%);

  border-radius: rem(6px);

  transition: $transition;

  //   display: none;
  opacity: 0;
  visibility: hidden;

  @media #{media('<',t)} {
    // left: auto;
    // right: 100%;
    // transform: translate(rem(-12px), -50%);

    left: calc(100% + rem(20px));

    border-radius: rem(4px);
    // }

    // @media #{media('<',t)} {
    transform: translate(rem(-8px), -50%);
  }

  @media #{media('<',m)} {
    left: calc(100% + rem(16px));
  }

  &_hero {
    @media #{media('<',t)} {
      left: auto;
      right: 100%;
      transform: translate(rem(-12px), -50%);

      @media #{media('<',t)} {
      }

      .icon-label__arrow {
        @media #{media('<',t)} {
          left: auto;
          right: 0;
          transform: translate(75%, -50%) rotate(180deg);
        }
      }
    }
  }

  &__inner {
    width: max-content;
    height: max-content;

    //   max-width: rem(272px);

    position: relative;

    padding: rem(12px) rem(20px);

    background: color(dark-blue);
    // background: red;
    border-radius: rem(6px);

    @media #{media('<',t)} {
      padding: rem(8px) rem(16px);

      border-radius: rem(4px);
    }
  }

  &__text {
    color: color(white);

    font-family: Rubik;
    font-size: rem(16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: rem(-0.16px);

    white-space: nowrap;

    @media #{media('<',t)} {
      font-size: rem(12px);
      letter-spacing: rem(-0.12px);
    }
  }

  &__arrow {
    height: rem(33px);
    width: rem(10px);

    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(-50%, -50%);

    @media #{media('<',t)} {
      height: rem(19px);
      width: rem(4px);

      // left: auto;
      // right: 0;
      transform: translate(-75%, -50%);
    }
  }
}
