.catalog-hero {
  width: 100%;
  height: rem(518px);

  margin-top: rem(88px);

  padding: rem(8px) rem(8px) 0;

  @media #{media('<',t)} {
    height: rem(228px);

    margin-top: rem(60px);

    padding: rem(4px) rem(4px) 0;
  }

  @media #{media('<',m)} {
    height: rem(396px);
  }

  &__inner {
    width: 100%;
    height: 100%;

    // background: color(light-grey);

    background-size: cover;
    border-radius: rem(6px);

    position: relative;

    overflow: hidden;

    &.light-grey {
      background-color: color(light-grey);
      background-image: url("data:image/svg+xml,%3Csvg width='1904' height='510' viewBox='0 0 1904 510' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1438_13175)'%3E%3Cpath d='M2323.71 19.5606C2315.57 5.59528 2300.45 -2.55145 2284.16 -2.55145H2006.15C1988.7 -2.55145 1972.41 7.92267 1964.27 23.0518C1859.57 231.368 1752.56 446.666 1589.7 523.476C1536.19 496.709 1488.5 453.65 1441.97 390.806C1624.6 201.11 1787.45 -93.326 1932.86 -497.156C1937.51 -511.122 1936.35 -527.414 1927.04 -540.216C1918.9 -553.017 1903.78 -560 1888.66 -560H1610.64C1590.86 -560 1573.41 -547.199 1566.44 -529.742C1475.7 -279.53 1380.31 -73.5415 1277.95 89.3872C1273.3 78.9132 1268.64 68.4391 1263.99 57.9651C1132.54 -231.815 982.482 -560 613.73 -560H335.713C3.02271 -560 -268.016 -288.84 -268.016 43.9996C-268.016 376.84 3.02271 648 335.713 648H613.73H891.748C1066.24 648 1225.6 583.992 1373.34 455.977C1473.38 587.484 1586.21 648 1726.96 648C2034.06 648 2181.8 351.237 2326.04 64.9482C2333.02 50.9828 2333.02 33.5259 2323.71 19.5606ZM1180.23 96.3696C1193.03 124.3 1205.83 152.231 1218.62 180.162C1188.38 222.058 1158.13 260.463 1126.73 295.376C1008.07 42.8362 845.218 -302.806 611.404 -465.734C612.568 -465.734 613.731 -465.734 614.894 -465.734C923.156 -466.898 1047.62 -193.411 1180.23 96.3696ZM-176.118 43.9996C-176.118 -222.505 28.6143 -441.295 289.183 -464.57C121.675 -357.503 10.0022 -170.135 10.0022 43.9996C10.0022 258.135 121.675 445.503 289.183 552.57C29.7775 529.295 -176.118 310.504 -176.118 43.9996ZM613.73 554.898C332.223 554.898 103.062 325.634 103.062 43.9996C103.062 -184.101 253.122 -377.287 459.018 -442.459C725.403 -338.883 920.829 76.5856 1044.13 339.599L1056.93 366.366C919.666 492.054 771.933 554.898 613.73 554.898ZM1643.21 -466.898H1822.35C1681.6 -92.1618 1526.88 177.834 1355.89 345.418C1355.89 345.418 1354.72 345.418 1354.72 346.582C1348.91 350.073 1345.42 354.728 1341.93 359.383C1224.44 469.942 1098.81 533.95 965.033 550.242C1225.6 396.624 1448.95 60.2929 1643.21 -466.898ZM1728.13 554.898C1724.64 554.898 1719.98 553.734 1716.5 553.734C1851.43 447.831 1945.66 268.609 2035.23 90.5507H2209.71C2084.08 337.271 1957.29 554.898 1728.13 554.898Z' fill='%23F6F7F8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1438_13175'%3E%3Crect width='1904' height='510' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

      @media #{media('<',m)} {
        background-image: url("data:image/svg+xml,%3Csvg width='367' height='392' viewBox='0 0 367 392' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1462_35471)'%3E%3Cpath d='M457.466 306.381C455.755 303.457 452.578 301.75 449.157 301.75H390.752C387.086 301.75 383.665 303.944 381.954 307.113C359.961 350.742 337.478 395.833 303.266 411.92C292.025 406.314 282.005 397.296 272.23 384.134C310.597 344.405 344.809 282.739 375.356 198.162C376.334 195.237 376.089 191.825 374.134 189.144C372.424 186.462 369.247 185 366.07 185H307.665C303.51 185 299.845 187.681 298.378 191.337C279.317 243.741 259.278 286.882 237.774 321.006C236.796 318.812 235.819 316.618 234.841 314.425C207.227 253.734 175.702 185 98.2357 185H39.8303C-30.0607 185 -87 241.791 -87 311.5C-87 381.209 -30.0607 438 39.8303 438H98.2357H156.641C193.297 438 226.777 424.594 257.812 397.783C278.828 425.326 302.533 438 332.102 438C396.617 438 427.652 375.847 457.955 315.887C459.421 312.962 459.421 309.306 457.466 306.381ZM217.246 322.468C219.934 328.318 222.622 334.168 225.31 340.017C218.957 348.792 212.603 356.835 206.005 364.147C181.079 311.256 146.866 238.866 97.7471 204.743C97.9915 204.743 98.2358 204.743 98.4802 204.743C163.239 204.499 189.387 261.777 217.246 322.468ZM-67.6944 311.5C-67.6944 255.684 -24.6845 209.861 30.0554 204.987C-5.13454 227.41 -28.5945 266.652 -28.5945 311.5C-28.5945 356.348 -5.13454 395.59 30.0554 418.013C-24.4401 413.139 -67.6944 367.316 -67.6944 311.5ZM98.2357 418.501C39.0971 418.501 -9.04453 370.485 -9.04453 311.5C-9.04453 263.727 22.4797 223.267 65.7339 209.617C121.696 231.31 162.751 318.325 188.654 373.409L191.342 379.015C162.506 405.339 131.471 418.501 98.2357 418.501ZM314.507 204.499H352.141C322.571 282.983 290.07 339.53 254.147 374.628C254.147 374.628 253.902 374.628 253.902 374.872C252.68 375.603 251.947 376.578 251.214 377.553C226.532 400.708 200.14 414.114 172.037 417.526C226.777 385.353 273.696 314.912 314.507 204.499ZM332.346 418.501C331.613 418.501 330.636 418.257 329.903 418.257C358.25 396.077 378.044 358.541 396.861 321.249H433.517C407.125 372.922 380.488 418.501 332.346 418.501Z' fill='%23F6F7F8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1462_35471'%3E%3Crect width='367' height='392' rx='6' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }

      .catalog-hero__specs {
        color: color(dark-grey);
      }
    }

    &.blue {
      background-color: color(dark-blue);
      background-image: url("data:image/svg+xml,%3Csvg width='1904' height='510' viewBox='0 0 1904 510' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1438_13249)'%3E%3Cpath d='M2323.71 19.5606C2315.57 5.59528 2300.45 -2.55145 2284.16 -2.55145H2006.15C1988.7 -2.55145 1972.41 7.92267 1964.27 23.0518C1859.57 231.368 1752.56 446.666 1589.7 523.476C1536.19 496.709 1488.5 453.65 1441.97 390.806C1624.6 201.11 1787.45 -93.326 1932.86 -497.156C1937.51 -511.122 1936.35 -527.414 1927.04 -540.216C1918.9 -553.017 1903.78 -560 1888.66 -560H1610.64C1590.86 -560 1573.41 -547.199 1566.44 -529.742C1475.7 -279.53 1380.31 -73.5415 1277.95 89.3872C1273.3 78.9132 1268.64 68.4391 1263.99 57.9651C1132.54 -231.815 982.482 -560 613.73 -560H335.713C3.02271 -560 -268.016 -288.84 -268.016 43.9996C-268.016 376.84 3.02271 648 335.713 648H613.73H891.748C1066.24 648 1225.6 583.992 1373.34 455.977C1473.38 587.484 1586.21 648 1726.96 648C2034.06 648 2181.8 351.237 2326.04 64.9482C2333.02 50.9828 2333.02 33.5259 2323.71 19.5606ZM1180.23 96.3696C1193.03 124.3 1205.83 152.231 1218.62 180.162C1188.38 222.058 1158.13 260.463 1126.73 295.376C1008.07 42.8362 845.218 -302.806 611.404 -465.734C612.568 -465.734 613.731 -465.734 614.894 -465.734C923.156 -466.898 1047.62 -193.411 1180.23 96.3696ZM-176.118 43.9996C-176.118 -222.505 28.6143 -441.295 289.183 -464.57C121.675 -357.503 10.0022 -170.135 10.0022 43.9996C10.0022 258.135 121.675 445.503 289.183 552.57C29.7775 529.295 -176.118 310.504 -176.118 43.9996ZM613.73 554.898C332.223 554.898 103.062 325.634 103.062 43.9996C103.062 -184.101 253.122 -377.287 459.018 -442.459C725.403 -338.883 920.829 76.5856 1044.13 339.599L1056.93 366.366C919.666 492.054 771.933 554.898 613.73 554.898ZM1643.21 -466.898H1822.35C1681.6 -92.1618 1526.88 177.834 1355.89 345.418C1355.89 345.418 1354.72 345.418 1354.72 346.582C1348.91 350.073 1345.42 354.728 1341.93 359.383C1224.44 469.942 1098.81 533.95 965.033 550.242C1225.6 396.624 1448.95 60.2929 1643.21 -466.898ZM1728.13 554.898C1724.64 554.898 1719.98 553.734 1716.5 553.734C1851.43 447.831 1945.66 268.609 2035.23 90.5507H2209.71C2084.08 337.271 1957.29 554.898 1728.13 554.898Z' fill='%230C458E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1438_13249'%3E%3Crect width='1904' height='510' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      color: color(white);

      @media #{media('<',m)} {
        background-image: url("data:image/svg+xml,%3Csvg width='367' height='392' viewBox='0 0 367 392' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1462_35588)'%3E%3Cpath d='M457.466 306.381C455.755 303.457 452.578 301.75 449.157 301.75H390.752C387.086 301.75 383.665 303.944 381.954 307.113C359.961 350.742 337.478 395.833 303.266 411.92C292.025 406.314 282.005 397.296 272.23 384.134C310.597 344.405 344.809 282.739 375.356 198.162C376.334 195.237 376.089 191.825 374.134 189.144C372.424 186.462 369.247 185 366.07 185H307.665C303.51 185 299.845 187.681 298.378 191.337C279.317 243.741 259.278 286.882 237.774 321.006C236.796 318.812 235.819 316.618 234.841 314.425C207.227 253.734 175.702 185 98.2357 185H39.8303C-30.0607 185 -87 241.791 -87 311.5C-87 381.209 -30.0607 438 39.8303 438H98.2357H156.641C193.297 438 226.777 424.594 257.812 397.783C278.828 425.326 302.533 438 332.102 438C396.617 438 427.652 375.847 457.955 315.887C459.421 312.962 459.421 309.306 457.466 306.381ZM217.246 322.468C219.934 328.318 222.622 334.168 225.31 340.017C218.957 348.792 212.603 356.835 206.005 364.147C181.079 311.256 146.866 238.866 97.7471 204.743C97.9915 204.743 98.2358 204.743 98.4802 204.743C163.239 204.499 189.387 261.777 217.246 322.468ZM-67.6944 311.5C-67.6944 255.684 -24.6845 209.861 30.0554 204.987C-5.13454 227.41 -28.5945 266.652 -28.5945 311.5C-28.5945 356.348 -5.13454 395.59 30.0554 418.013C-24.4401 413.139 -67.6944 367.316 -67.6944 311.5ZM98.2357 418.501C39.0971 418.501 -9.04453 370.485 -9.04453 311.5C-9.04453 263.727 22.4797 223.267 65.7339 209.617C121.696 231.31 162.751 318.325 188.654 373.409L191.342 379.015C162.506 405.339 131.471 418.501 98.2357 418.501ZM314.507 204.499H352.141C322.571 282.983 290.07 339.53 254.147 374.628C254.147 374.628 253.902 374.628 253.902 374.872C252.68 375.603 251.947 376.578 251.214 377.553C226.532 400.708 200.14 414.114 172.037 417.526C226.777 385.353 273.696 314.912 314.507 204.499ZM332.346 418.501C331.613 418.501 330.636 418.257 329.903 418.257C358.25 396.077 378.044 358.541 396.861 321.249H433.517C407.125 372.922 380.488 418.501 332.346 418.501Z' fill='%230C458E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1462_35588'%3E%3Crect width='367' height='392' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }

      .catalog-hero__breadcrumbs-link {
        color: color(white);
        opacity: 0.5;

        &:last-of-type {
          opacity: 1;
        }

        @media #{media('>',t)} {
          &:hover {
            opacity: 1;
          }
        }

        .catalog-hero__breadcrumbs-svg {
          path {
            fill: color(white);
            opacity: 0.5;
          }
        }
      }

      .catalog-hero__specs {
        color: color(white);
        opacity: 0.5;
      }
    }

    &.dark-blue {
      background-color: color(text);
      background-image: url("data:image/svg+xml,%3Csvg width='1904' height='510' viewBox='0 0 1904 510' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1438_13323)'%3E%3Cpath d='M2323.71 19.5606C2315.57 5.59528 2300.45 -2.55145 2284.16 -2.55145H2006.15C1988.7 -2.55145 1972.41 7.92267 1964.27 23.0518C1859.57 231.368 1752.56 446.666 1589.7 523.476C1536.19 496.709 1488.5 453.65 1441.97 390.806C1624.6 201.11 1787.45 -93.326 1932.86 -497.156C1937.51 -511.122 1936.35 -527.414 1927.04 -540.216C1918.9 -553.017 1903.78 -560 1888.66 -560H1610.64C1590.86 -560 1573.41 -547.199 1566.44 -529.742C1475.7 -279.53 1380.31 -73.5415 1277.95 89.3872C1273.3 78.9132 1268.64 68.4391 1263.99 57.9651C1132.54 -231.815 982.482 -560 613.73 -560H335.713C3.02271 -560 -268.016 -288.84 -268.016 43.9996C-268.016 376.84 3.02271 648 335.713 648H613.73H891.748C1066.24 648 1225.6 583.992 1373.34 455.977C1473.38 587.484 1586.21 648 1726.96 648C2034.06 648 2181.8 351.237 2326.04 64.9482C2333.02 50.9828 2333.02 33.5259 2323.71 19.5606ZM1180.23 96.3696C1193.03 124.3 1205.83 152.231 1218.62 180.162C1188.38 222.058 1158.13 260.463 1126.73 295.376C1008.07 42.8362 845.218 -302.806 611.404 -465.734C612.568 -465.734 613.731 -465.734 614.894 -465.734C923.156 -466.898 1047.62 -193.411 1180.23 96.3696ZM-176.118 43.9996C-176.118 -222.505 28.6143 -441.295 289.183 -464.57C121.675 -357.503 10.0022 -170.135 10.0022 43.9996C10.0022 258.135 121.675 445.503 289.183 552.57C29.7775 529.295 -176.118 310.504 -176.118 43.9996ZM613.73 554.898C332.223 554.898 103.062 325.634 103.062 43.9996C103.062 -184.101 253.122 -377.287 459.018 -442.459C725.403 -338.883 920.829 76.5856 1044.13 339.599L1056.93 366.366C919.666 492.054 771.933 554.898 613.73 554.898ZM1643.21 -466.898H1822.35C1681.6 -92.1618 1526.88 177.834 1355.89 345.418C1355.89 345.418 1354.72 345.418 1354.72 346.582C1348.91 350.073 1345.42 354.728 1341.93 359.383C1224.44 469.942 1098.81 533.95 965.033 550.242C1225.6 396.624 1448.95 60.2929 1643.21 -466.898ZM1728.13 554.898C1724.64 554.898 1719.98 553.734 1716.5 553.734C1851.43 447.831 1945.66 268.609 2035.23 90.5507H2209.71C2084.08 337.271 1957.29 554.898 1728.13 554.898Z' fill='%230B1E40'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1438_13323'%3E%3Crect width='1904' height='510' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      color: color(white);

      @media #{media('<',m)} {
        background-image: url("data:image/svg+xml,%3Csvg width='367' height='392' viewBox='0 0 367 392' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1462_35655)'%3E%3Cpath d='M457.466 306.381C455.755 303.457 452.578 301.75 449.157 301.75H390.752C387.086 301.75 383.665 303.944 381.954 307.113C359.961 350.742 337.478 395.833 303.266 411.92C292.025 406.314 282.005 397.296 272.23 384.134C310.597 344.405 344.809 282.739 375.356 198.162C376.334 195.237 376.089 191.825 374.134 189.144C372.424 186.462 369.247 185 366.07 185H307.665C303.51 185 299.845 187.681 298.378 191.337C279.317 243.741 259.278 286.882 237.774 321.006C236.796 318.812 235.819 316.618 234.841 314.425C207.227 253.734 175.702 185 98.2357 185H39.8303C-30.0607 185 -87 241.791 -87 311.5C-87 381.209 -30.0607 438 39.8303 438H98.2357H156.641C193.297 438 226.777 424.594 257.812 397.783C278.828 425.326 302.533 438 332.102 438C396.617 438 427.652 375.847 457.955 315.887C459.421 312.962 459.421 309.306 457.466 306.381ZM217.246 322.468C219.934 328.318 222.622 334.168 225.31 340.017C218.957 348.792 212.603 356.835 206.005 364.147C181.079 311.256 146.866 238.866 97.7471 204.743C97.9915 204.743 98.2358 204.743 98.4802 204.743C163.239 204.499 189.387 261.777 217.246 322.468ZM-67.6944 311.5C-67.6944 255.684 -24.6845 209.861 30.0554 204.987C-5.13454 227.41 -28.5945 266.652 -28.5945 311.5C-28.5945 356.348 -5.13454 395.59 30.0554 418.013C-24.4401 413.139 -67.6944 367.316 -67.6944 311.5ZM98.2357 418.501C39.0971 418.501 -9.04453 370.485 -9.04453 311.5C-9.04453 263.727 22.4797 223.267 65.7339 209.617C121.696 231.31 162.751 318.325 188.654 373.409L191.342 379.015C162.506 405.339 131.471 418.501 98.2357 418.501ZM314.507 204.499H352.141C322.571 282.983 290.07 339.53 254.147 374.628C254.147 374.628 253.902 374.628 253.902 374.872C252.68 375.603 251.947 376.578 251.214 377.553C226.532 400.708 200.14 414.114 172.037 417.526C226.777 385.353 273.696 314.912 314.507 204.499ZM332.346 418.501C331.613 418.501 330.636 418.257 329.903 418.257C358.25 396.077 378.044 358.541 396.861 321.249H433.517C407.125 372.922 380.488 418.501 332.346 418.501Z' fill='%230B1E40'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1462_35655'%3E%3Crect width='367' height='392' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }

      .catalog-hero__breadcrumbs-link {
        color: color(white);
        opacity: 0.5;

        &:last-of-type {
          opacity: 1;
        }

        @media #{media('>',t)} {
          &:hover {
            opacity: 1;
          }
        }

        .catalog-hero__breadcrumbs-svg {
          path {
            fill: color(white);
            opacity: 0.5;
          }
        }
      }

      .catalog-hero__specs {
        color: color(white);
        opacity: 0.5;
      }
    }
  }

  //   &__bg {
  //     width: 100%;
  //     height: 100%;

  //     position: absolute;
  //     top: 0;
  //     left: 0;

  //     &.desktop {
  //       display: block;

  //       @media #{media('<',m)} {
  //         display: none;
  //       }
  //     }

  //     &.mobile {
  //       display: block;

  //       @media #{media('>',m)} {
  //         display: none;
  //       }
  //     }
  //   }

  &__wrapper {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    // align-items: center;

    padding: rem(32px) rem(64.75px) rem(52px) rem(52px);

    & * {
      flex-shrink: 0;
    }

    @media #{media('<',t)} {
      padding: rem(16px) 0 rem(16px) rem(16px);
    }

    @media #{media('<',m)} {
      flex-direction: column;

      padding: rem(16px);
    }
  }

  &__info {
    height: 100%;
    width: rem(1047px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{media('<',t)} {
      width: rem(362px);
    }

    @media #{media('<',m)} {
      width: auto;

      display: block;
      height: fit-content;
    }
  }

  &__desc {
    @media #{media('<',m)} {
      margin-top: rem(24px);
    }
  }

  &__title {
    font-family: Rubik;
    font-size: rem(84px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 84px */
    letter-spacing: rem(-3.36px);
    text-transform: uppercase;

    @media #{media('<',t)} {
      width: rem(335px);

      font-size: rem(28px);
      letter-spacing: rem(-1.12px);
      text-transform: uppercase;
    }
  }

  &__specs {
    width: rem(896px);

    margin-top: rem(20px);

    font-family: Rubik;
    font-size: rem(24px);
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: rem(-0.24px);

    @media #{media('<',t)} {
      width: rem(363px);

      margin-top: rem(12px);

      font-size: rem(14px);
      line-height: 150%; /* 21px */
      letter-spacing: rem(-0.28px);
      //   color: color(dark-grey);
    }

    @media #{media('<',m)} {
      width: 100%;
    }
  }

  &__breadcrumbs {
    @media #{media('<',m)} {
      // width: 100%;
      width: rem(367px);

      margin-left: rem(-16px);

      overflow-x: scroll;

      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-inner {
      height: rem(24px);

      display: flex;
      align-items: center;
      gap: rem(16px);

      color: color(dark-grey);
      font-family: Rubik;
      font-size: rem(16px);
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 20.8px */
      letter-spacing: rem(-0.16px);
      text-transform: uppercase;
      text-wrap: nowrap;
      white-space: nowrap;

      & * {
        flex-shrink: 0;
      }

      @media #{media('<',t)} {
        gap: rem(8px);

        font-size: rem(10px);
        letter-spacing: rem(-0.1px);
      }

      @media #{media('<',m)} {
        padding-left: rem(16px);
      }
    }

    &-svg {
      width: rem(24px);
      height: rem(24px);

      display: inline;

      @media #{media('<',t)} {
        width: rem(16px);
        height: rem(16px);
      }

      path {
        fill: color(dark-grey);
      }
    }

    &-link {
      transition: $transition;

      @media #{media('>',t)} {
        &:hover {
          color: color(blue);
        }
      }

      &:active {
        color: color(blue);
      }

      &:last-of-type {
        color: color(blue);

        @media #{media('<',m)} {
          padding-right: rem(16px);
        }
      }

      &.disabled {
        color: color(dark-grey);
        pointer-events: none;
      }
    }
  }

  &__img {
    width: rem(392px);
    height: rem(367px);

    margin-top: calc(rem(76px) - rem(24px));

    @media #{media('<',t)} {
      height: calc(100% + rem(16px) + rem(16px));
      width: auto;

      margin-top: rem(-16px);
    }

    @media #{media('<',m)} {
      height: rem(163px);
      width: rem(158px);

      margin-right: rem(-16px);
      margin-bottom: rem(-16px);

      align-self: flex-end;
    }
  }
}
