.contacts {
  &-form {
    height: rem(562px);

    display: grid;
    grid-template-columns: rem(896px) auto;
    column-gap: rem(146px);

    background-image: url("data:image/svg+xml,%3Csvg width='1920.000000' height='562.000000' viewBox='0 0 1920 562' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3CclipPath id='clip109_9182'%3E%3Crect id='Buttons / Elements' width='24.000000' height='24.000000' transform='translate(912.000000 374.000000)' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3CclipPath id='clip953_34078'%3E%3Crect id='Buttons / Button' rx='6.000000' width='293.000000' height='72.000000' transform='translate(663.000000 350.000000)' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3CclipPath id='clip285_8908'%3E%3Crect id='Frame 1166' width='1920.000000' height='562.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip285_8908)'%3E%3Cpath id='Vector' d='M3454.73 -107.439C3446.59 -121.405 3431.46 -129.551 3415.18 -129.551L3137.16 -129.551C3119.71 -129.551 3103.43 -119.077 3095.28 -103.948C2990.59 104.368 2883.57 319.667 2720.72 396.476C2667.21 369.709 2619.51 326.65 2572.98 263.806C2755.61 74.11 2918.47 -220.326 3063.88 -624.156C3068.53 -638.122 3067.37 -654.414 3058.06 -667.216C3049.92 -680.017 3034.79 -687 3019.67 -687L2741.65 -687C2721.88 -687 2704.43 -674.199 2697.45 -656.742C2606.72 -406.53 2511.33 -200.542 2408.96 -37.6128C2404.31 -48.0869 2399.66 -58.5609 2395 -69.0349C2263.56 -358.815 2113.5 -687 1744.75 -687L1466.73 -687C1134.04 -687 863 -415.84 863 -83.0004C863 249.84 1134.04 521 1466.73 521L1744.75 521L2022.76 521C2197.25 521 2356.62 456.992 2504.35 328.977C2604.39 460.484 2717.23 521 2857.98 521C3165.08 521 3312.81 224.237 3457.06 -62.0518C3464.04 -76.0172 3464.03 -93.4741 3454.73 -107.439ZM2311.25 -30.6304C2324.05 -2.69977 2336.84 25.231 2349.64 53.1617C2319.39 95.0576 2289.15 133.463 2257.74 168.376C2139.09 -84.1637 1976.23 -429.806 1742.42 -592.734C1743.58 -592.734 1744.75 -592.734 1745.91 -592.734C2054.17 -593.898 2178.64 -320.411 2311.25 -30.6304ZM954.897 -83.0004C954.897 -349.505 1159.63 -568.295 1420.2 -591.57C1252.69 -484.503 1141.02 -297.135 1141.02 -83.0004C1141.02 131.135 1252.69 318.503 1420.2 425.57C1160.79 402.295 954.897 183.505 954.897 -83.0004ZM1744.75 427.898C1463.24 427.898 1234.08 198.634 1234.08 -83.0004C1234.08 -311.101 1384.14 -504.287 1590.03 -569.459C1856.42 -465.883 2051.84 -50.4143 2175.15 212.599L2187.95 239.366C2050.68 365.054 1902.95 427.898 1744.75 427.898ZM2774.23 -593.898L2953.37 -593.898C2812.61 -219.162 2657.9 50.8342 2486.9 218.418C2486.9 218.418 2485.74 218.418 2485.74 219.582C2479.92 223.073 2476.43 227.728 2472.94 232.384C2355.45 342.942 2229.82 406.95 2096.05 423.242C2356.62 269.624 2579.96 -66.7071 2774.23 -593.898ZM2859.14 427.898C2855.65 427.898 2851 426.734 2847.51 426.734C2982.45 320.831 3076.67 141.609 3166.24 -36.4493L3340.73 -36.4493C3215.1 210.271 3088.3 427.898 2859.14 427.898Z' fill='%23132649' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: cover;

    @media #{media('<',t)} {
      height: max-content;

      grid-template-columns: repeat(2, rem(350px));
      column-gap: rem(24px);
    }

    @media #{media('<',m)} {
      grid-template-columns: none;

      gap: rem(24px);

      padding-bottom: rem(24px);
    }

    &__title {
      font-size: rem(24px);
      font-weight: 400;
      line-height: 120%;
      letter-spacing: -0.02em;
      text-transform: uppercase;

      @media #{media('<',t)} {
        font-size: rem(16px);
        line-height: 110%;
        letter-spacing: -0.04em;
      }
    }

    &__subtitle {
      margin-top: rem(24px);

      color: color(input-placeholder);
      font-size: rem(20px);
      font-weight: 400;
      line-height: 150%;
      letter-spacing: -0.01em;

      @media #{media('<',t)} {
        margin-top: rem(12px);

        font-size: rem(14px);
        letter-spacing: -0.02em;
      }
    }

    &__inputs {
      margin-top: rem(24px);
    }

    .product-form__submit {
      @media #{media('>',t)} {
        gap: rem(137px);
      }
    }
  }
}
