.instructions {
  display: grid;
  row-gap: rem(16px);

  margin-top: rem(72px);

  @media #{media('<',t)} {
    row-gap: rem(8px);

    margin-top: rem(28px);
  }

  &__header {
    width: 100%;

    padding: rem(40px);

    display: grid;
    grid-template-columns: auto rem(72px);
    column-gap: rem(42px);
    align-items: center;

    cursor: pointer;

    position: relative;

    @media #{media('<',t)} {
      grid-template-columns: auto rem(40px);
      column-gap: rem(24px);

      padding: rem(20px) rem(8px) rem(20px) rem(16px);
    }
  }

  &__title {
    font-size: rem(24px);
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;

    @media #{media('<',t)} {
      font-size: rem(12px);
      line-height: 140%;
      letter-spacing: -0.01em;
    }
  }

  &__list {
    width: 100%;

    padding: 0 rem(40px) rem(40px);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(16px) rem(8px);

    @media #{media('<',t)} {
      padding: 0 rem(16px) rem(16px);

      grid-template-columns: repeat(2, 1fr);
      gap: rem(4px);
    }

    @media #{media('<',m)} {
      grid-template-columns: none;
    }

    .instructions__item {
      min-height: rem(187px);

      margin: 0 !important;

      @media #{media('<',t)} {
        min-height: unset;
        height: rem(89px);
      }

      .product-hero__accordion-document-title {
        @media #{media('<',t)} {
          -webkit-line-clamp: 1;
          line-clamp: 1;
        }
      }
    }
  }
}
