.vacancies-form {
  height: rem(496px);

  grid-template-columns: repeat(2, rem(896px));
  gap: rem(8px);

  @media #{media('>',t)} {
    background-image: url("data:image/svg+xml,%3Csvg width='1920.000000' height='496.000000' viewBox='0 0 1920 496' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3CclipPath id='clip109_9702'%3E%3Crect id='Hicon / Linear / Attachment' width='24.000000' height='24.000000' transform='translate(964.000000 240.000000)' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3CclipPath id='clip109_9177'%3E%3Crect id='Buttons / Elements' width='24.000000' height='24.000000' transform='translate(1816.000000 328.000000)' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3CclipPath id='clip953_34049'%3E%3Crect id='Buttons / Button' rx='6.000000' width='293.000000' height='72.000000' transform='translate(1567.000000 304.000000)' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3CclipPath id='clip258_6547'%3E%3Crect id='Frame 1166' width='1920.000000' height='496.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip258_6547)'%3E%3Cpath id='Vector' d='M1142.73 -148.439C1134.59 -162.404 1119.46 -170.551 1103.18 -170.551L825.16 -170.551C807.711 -170.551 791.426 -160.077 783.281 -144.948C678.59 63.3684 571.57 278.667 408.715 355.476C355.207 328.709 307.512 285.65 260.984 222.806C443.613 33.1106 606.469 -261.325 751.875 -665.156C756.527 -679.121 755.367 -695.414 746.059 -708.215C737.918 -721.017 722.793 -728 707.672 -728L429.656 -728C409.879 -728 392.43 -715.198 385.449 -697.742C294.719 -447.53 199.332 -241.541 96.9648 -78.6123C92.3125 -89.0864 87.6562 -99.5603 83.0039 -110.034C-48.4414 -399.815 -198.504 -728 -567.254 -728L-845.27 -728C-1177.96 -728 -1449 -456.84 -1449 -124C-1449 208.84 -1177.96 480 -845.27 480L-567.254 480L-289.234 480C-114.75 480 44.6172 415.993 192.352 287.977C292.391 419.484 405.227 480 545.98 480C853.078 480 1000.81 183.238 1145.05 -103.051C1152.04 -117.017 1152.04 -134.474 1142.73 -148.439ZM-0.75 -71.6299C12.0469 -43.6992 24.8438 -15.7686 37.6367 12.1621C7.39453 54.0581 -22.8516 92.463 -54.2578 127.376C-172.91 -125.163 -335.766 -470.805 -569.578 -633.734C-568.418 -633.734 -567.254 -633.734 -566.09 -633.734C-257.828 -634.898 -133.359 -361.41 -0.75 -71.6299ZM-1357.1 -124C-1357.1 -390.505 -1152.37 -609.294 -891.801 -632.57C-1059.31 -525.502 -1170.98 -338.135 -1170.98 -124C-1170.98 90.135 -1059.31 277.503 -891.801 384.571C-1151.21 361.295 -1357.1 142.505 -1357.1 -124ZM-567.254 386.898C-848.762 386.898 -1077.92 157.634 -1077.92 -124C-1077.92 -352.1 -927.863 -545.287 -721.965 -610.458C-455.582 -506.882 -260.156 -91.4138 -136.852 171.6L-124.055 198.366C-261.316 324.054 -409.051 386.898 -567.254 386.898ZM462.227 -634.897L641.367 -634.897C500.613 -260.161 345.898 9.83472 174.902 177.419C174.902 177.419 173.738 177.418 173.738 178.582C167.922 182.073 164.434 186.729 160.941 191.384C43.4531 301.943 -82.1758 365.95 -215.953 382.243C44.6172 228.625 267.961 -107.707 462.227 -634.897ZM547.145 386.898C543.652 386.898 539 385.735 535.512 385.735C670.449 279.831 764.672 100.609 854.242 -77.4487L1028.73 -77.4487C903.098 169.272 776.305 386.898 547.145 386.898Z' fill='%23132649' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  @media #{media('<',t)} {
    height: auto;

    // padding: ;

    grid-template-columns: rem(350px) rem(370px);
    gap: rem(24px);
  }

  &__success {
    @media #{media('>',t)} {
      width: rem(625px);
      height: rem(505px);
      padding: rem(52px) rem(70px);

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      visibility: hidden;
      opacity: 0;

      .contact-form__success-close {
        padding-left: rem(32px);
        padding-right: rem(32px);
      }
    }

    .contact-form__wrapper {
      width: max-content;
      height: max-content;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  &_submit {
    gap: rem(137px);
  }
}
