extends ../app


//- block grid-test
block footer



block content
    section.section.article-section

        .article-section__breadcrumbs
            .product-hero__breadcrumbs-inner.article-section__breadcrumbs-inner
                a(href="#").product-hero__breadcrumbs-link Главная
                +button-arrow.product-hero__breadcrumbs-svg
                a(href="#").product-hero__breadcrumbs-link Полезная информация
                +button-arrow.product-hero__breadcrumbs-svg
                a(href="#").product-hero__breadcrumbs-link Статьи
                +button-arrow.product-hero__breadcrumbs-svg
                .product-hero__breadcrumbs-link.active Опубликована новая версия «Альбома технических решений АЛЬФАПОЛ»

                        
        a(href="#").article-section__back.back-link
            +header-info.article-section-svg.back-link__svg
            span.article-section__back-text.back-link__text
                |Вернуться к статьям

        .article-section__wrapper
            article
                h1 Опубликована новая версия «Альбома технических решений АЛЬФАПОЛ»
                h2 20 августа 2020

                +picture("article-image.png")

                p 
                    |Опубликована новая версия «Альбома технических решений АЛЬФАПОЛ». В работе представлены сведения о материалах «АЛЬФАПОЛ™» для практического применения и проектирования промышленных полов, защиты контура помещений от опасных излучений, устройства утепляемых фасадов.

                h3 ООО «АЛЬФАПОЛ» распространяется на

                ul 
                    li 
                        | Магнезиальном вяжущем (ТУ 5745-001-82166262-2001, ТУ 5745-002-56234968-2005, ТУ 5745-004-82166262-2004)
                    li 
                        | Цементном вяжущем (ТУ 5745-009-82166262-2009, ТУ 5745-011-82166262-2012, ТУ 5745-012-82166262-2013, ТУ 5745-014-82166262-2013, ТУ 5745-010-82166262-2015, ТУ 23.64.10.110-015-82166262-2018)
                    li 
                        | Полимерных смолах (ТУ 2312-001-81266262-2015, ТУ 2312-002-81266262-2015, ТУ 2257-001-81266262-2015, ТУ 2257-002-81266262-2016)
                    
                h3 ООО «АЛЬФАПОЛ» распространяется на
                
                ol 
                    li 
                        |Магнезиальном вяжущем (ТУ 5745-001-82166262-2001, ТУ 5745-002-56234968-2005, ТУ 5745-004-82166262-2004)
                    li 
                        |Магнезиальном вяжущем (ТУ 5745-001-82166262-2001, ТУ 5745-002-56234968-2005, ТУ 5745-004-82166262-2004)
                    li 
                        |Цементном вяжущем (ТУ 5745-009-82166262-2009, ТУ 5745-011-82166262-2012, ТУ 5745-012-82166262-2013, ТУ 5745-014-82166262-2013, ТУ 5745-010-82166262-2015, ТУ 23.64.10.110-015-82166262-2018)
                    li 
                        |Полимерных смолах (ТУ 2312-001-81266262-2015, ТУ 2312-002-81266262-2015, ТУ 2257-001-81266262-2015, ТУ 2257-002-81266262-2016)

                
                figure
                    +picture("article-small-image.png")
                    figcaption 
                        |Топ искро безопасный

                p 
                    i 
                        | Опубликован курсив 
                    b
                        | «Альбом жирного текста АЛЬФАПОЛ». 
                    strong
                        |«Альбом мощного текста АЛЬФАПОЛ». 
                    
                    | В работе представлены сведения о материалах «АЛЬФАПОЛ™» для практического применения и проектирования промышленных полов, защиты контура помещений от опасных излучений, устройства утепляемых фасадов.

    section.section.article-next
        h4.article-next__title Cледующая новость 
        +article-preview("20 августа 2020", "Видео от партнеров", "Проектирование нового строительства и реконструкции современных жилых и производственных комплексов жёстко регламентируется генеральным планом конкретного населённого пункта и имеет чёткую привязку к району и рельефу окружающей местности.", "articles-preview-2", "true")



block footer
    +footer.white