extends ../app




block content
    +contacts-hero
    +contacts-content
    +contacts-form




block scripts 
    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=<ваш API-ключ>' type='text/javascript')
