extends ../app


//- block grid-test
block footer



block content
    +articles-hero

    section.section.catalog.articles__section

        a(href="#").catalog__sections-btn.articles__btn статьи 
        .catalog__sections-btn.articles__btn.active Инструкции 
        a(href="#").catalog__sections-btn.articles__btn Вопрос-ответ 

        ul.instructions

            li.vacancies__item-accordion.instructions__accordion
                .accordion-container
                    .ac 
                        .ac-trigger
                            .instructions__header
                                .instructions__title
                                    | Жидкости для минеральных составов
                                .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                    +swiper-btn.about-company__accordion-svg

                        .ac-panel
                            ul.instructions__list
                                +product-hero-document("АЛЬФАГРУНТ АС", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ИК", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М (англ.) ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ  ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ЭКРАН", "234 кб").instructions__item
                                +product-hero-document("Бишофит", "234 кб").instructions__item
                                +product-hero-document("Средство по уходу за бетоном CURE 100", "234 кб").instructions__item
                                


            li.vacancies__item-accordion.instructions__accordion
                .accordion-container
                    .ac 
                        .ac-trigger
                            .instructions__header
                                .instructions__title
                                    | Магнезиальные бетонные
                                .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                    +swiper-btn.about-company__accordion-svg

                        .ac-panel
                            ul.instructions__list
                                +product-hero-document("АЛЬФАГРУНТ АС", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ИК", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М (англ.) ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ  ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ЭКРАН", "234 кб").instructions__item
                                +product-hero-document("Бишофит", "234 кб").instructions__item
                                +product-hero-document("Средство по уходу за бетоном CURE 100", "234 кб").instructions__item
                                

            li.vacancies__item-accordion.instructions__accordion
                .accordion-container
                    .ac 
                        .ac-trigger
                            .instructions__header
                                .instructions__title
                                    | Магнезиальные наливные
                                .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                    +swiper-btn.about-company__accordion-svg

                        .ac-panel
                            ul.instructions__list
                                +product-hero-document("АЛЬФАГРУНТ АС", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ИК", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М (англ.) ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ  ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ЭКРАН", "234 кб").instructions__item
                                +product-hero-document("Бишофит", "234 кб").instructions__item
                                +product-hero-document("Средство по уходу за бетоном CURE 100", "234 кб").instructions__item
                                

            li.vacancies__item-accordion.instructions__accordion
                .accordion-container
                    .ac 
                        .ac-trigger
                            .instructions__header
                                .instructions__title
                                    | Магнезиальные штукатурки
                                .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                    +swiper-btn.about-company__accordion-svg

                        .ac-panel
                            ul.instructions__list
                                +product-hero-document("АЛЬФАГРУНТ АС", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ИК", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М (англ.) ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ  ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ЭКРАН", "234 кб").instructions__item
                                +product-hero-document("Бишофит", "234 кб").instructions__item
                                +product-hero-document("Средство по уходу за бетоном CURE 100", "234 кб").instructions__item
                                

            li.vacancies__item-accordion.instructions__accordion
                .accordion-container
                    .ac 
                        .ac-trigger
                            .instructions__header
                                .instructions__title
                                    | Полимеры
                                .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                    +swiper-btn.about-company__accordion-svg

                        .ac-panel
                            ul.instructions__list
                                +product-hero-document("АЛЬФАГРУНТ АС", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ИК", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М (англ.) ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ  ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ЭКРАН", "234 кб").instructions__item
                                +product-hero-document("Бишофит", "234 кб").instructions__item
                                +product-hero-document("Средство по уходу за бетоном CURE 100", "234 кб").instructions__item
                                

            li.vacancies__item-accordion.instructions__accordion
                .accordion-container
                    .ac 
                        .ac-trigger
                            .instructions__header
                                .instructions__title
                                    | Цементные бетонные
                                .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                    +swiper-btn.about-company__accordion-svg

                        .ac-panel
                            ul.instructions__list
                                +product-hero-document("АЛЬФАГРУНТ АС", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ИК", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М (англ.) ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ  ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ЭКРАН", "234 кб").instructions__item
                                +product-hero-document("Бишофит", "234 кб").instructions__item
                                +product-hero-document("Средство по уходу за бетоном CURE 100", "234 кб").instructions__item
                                

            li.vacancies__item-accordion.instructions__accordion
                .accordion-container
                    .ac 
                        .ac-trigger
                            .instructions__header
                                .instructions__title
                                    | Цементные наливные
                                .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                    +swiper-btn.about-company__accordion-svg

                        .ac-panel
                            ul.instructions__list
                                +product-hero-document("АЛЬФАГРУНТ АС", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ИК", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М (англ.) ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ  ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ЭКРАН", "234 кб").instructions__item
                                +product-hero-document("Бишофит", "234 кб").instructions__item
                                +product-hero-document("Средство по уходу за бетоном CURE 100", "234 кб").instructions__item
                                                  

            li.vacancies__item-accordion.instructions__accordion
                .accordion-container
                    .ac 
                        .ac-trigger
                            .instructions__header
                                .instructions__title
                                    | Цементные штукатурки
                                .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                    +swiper-btn.about-company__accordion-svg

                        .ac-panel
                            ul.instructions__list
                                +product-hero-document("АЛЬФАГРУНТ АС", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ИК", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М (англ.) ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ М ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ КОНЦЕНТРАТ  ", "234 кб").instructions__item
                                +product-hero-document("АЛЬФАГРУНТ ЭКРАН", "234 кб").instructions__item
                                +product-hero-document("Бишофит", "234 кб").instructions__item
                                +product-hero-document("Средство по уходу за бетоном CURE 100", "234 кб").instructions__item
                                



block footer
    +footer.white