// $files: (("Manrope-Medium", 500), ("Manrope-SemiBold", 600), ("Manrope-Bold", 700));

// @each $filename, $font-weight in $files {
//   @font-face {
//     src: font-url($filename);

//     font-family: $ff-primary;
//     font-weight: $font-weight;
//   }
// }

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../assets/fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../assets/fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../assets/fonts/Rubik-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Rubik;
  font-display: swap;
  src: url("../assets/fonts/Rubik-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
