- const forProjectOrganisations = ["Большое разнообразие продуктов для общественных пространств и любого типа производственных помещений", "Персональный консультант","Совместная разработка продуктов по техническому заданию заказчика","Партнёрская программа"]
- const forSupplyServices=["Ш﻿ирокий выбор продуктов для любой задачи", "Совместный подбор оптимальных решений", "Изготовление любых объемов продукции точно в срок, отправка по России и за рубеж"]

mixin about-content
    section.section.catalog

        .contact-form(data-element="popup",data-popup="about-popup")
            button.contact-form__close(data-action="close-popup")
                +close-btn.contact-form__close-svg

            .contact-form__wrapper
                .contact-form__inner(data-element="popup-content")
                    .contact-form__header
                        h4.contact-form__title связаться с нами
                        #about-subtitle
                    
                    form#about-company-form.contact-form__inputs
                        input(type="text", name="name", placeholder="Имя или название организации", required).contact-form__input
                        input(type="tel", name="tel", placeholder="Телефон*", data-mask-phone, data-parsley-phone-required, required).contact-form__input
                        #about-additional-input
                            label(for="contact-form-text-area").contact-form__text-area-label.contact-form__input
                                textarea#contact-form-text-area(name="contact-form-text-area", placeholder="Дополнительная информация", maxlength="255").contact-form__text-area

                    .add-attachment__wrapper(data-element="add-files-block")
                        ul.add-attachment__files.added(data-element="file-list")
                            li.add-attachment__file(data-element="file")
                                .add-attachment__file-name resume.pdf
                                button.add-attachment__file-remove(data-action="remove-file")
                            li.add-attachment__file(data-element="file")
                                .add-attachment__file-name CV.doc
                                button.add-attachment__file-remove(data-action="remove-file")

                            li.add-attachment__file(data-element="file")
                                .add-attachment__file-name resume.pdf
                                button.add-attachment__file-remove(data-action="remove-file")
                            li.add-attachment__file(data-element="file")
                                .add-attachment__file-name CV.doc
                                button.add-attachment__file-remove(data-action="remove-file")
                        button.add-attachment__btn( data-action="attach-file")
                            .add-attachment__icon
                            .add-attachment__text Прикрепить файл

                    .contact-form__agreement 
                        | Нажимая кнопку «Отправить», я даю согласие на обработку 
                        a(href="#").contact-form__personal персональных данных
                    button.contact-form__submit(form="about-company-form", type="submit", value="Отправить")
                        span.contact-form__submit-text Отправить 
                        +button-arrow.contact-form__submit-svg
                
                .contact-form__success(data-element="popup-success")
                    +contact-us-success.contact-form__success-svg
                    h4.contact-form__success-title отправлено
                    p.contact-form__success-desc Спасибо. Мы свяжемся с вами в ближайшее время.
                    button.section-link.contact-form__success-close
                        .section-link__span Закрыть
                        +button-arrow.section-link__svg 


        .catalog__sections-btn.about-company__btn.active о компании 
        a(href="#").catalog__sections-btn.about-company__btn производство 

        .about-company__content
            .about-company__chapter.about-company__chapter_about
                .about-company__chapter-line

                h2.section-title.about-company__chapter-title АльфаПОЛ — Российский производитель
                //- .about-company__chapter-subtitle-wrapper
                    
                p.about-company__chapter-subtitle От небольшого семейного предприятия по производству гипса до одного из ведущих поставщиков материалов для промышленных полов: за 25-летнюю историю компании мы обрели большой профессиональный опыт и доверие тысяч клиентов по всей России и за её пределами.

            .about-company__proposal-wrapper
                .section-proposal__inner.about-company__proposal
                    +picture('about-company-about.png').section-proposal__bg.desktop
                    +picture('about-company-about-tablet.png').section-proposal__bg.tablet
                    +picture('about-company-about-mobile.png').section-proposal__bg.mobile

                    .section-proposal__wrapper
                        .section-proposal__item.first 
                            .section-proposal__item-counter 25+
                            .section-proposal__item-desc лет на рынке

                        .section-proposal__item.second 
                            .section-proposal__item-counter 1000+
                            .section-proposal__item-desc клиентов выбрали нас в 2022 году

                        .section-proposal__item.third 
                            p.section-proposal__item-counter 30000+
                            .section-proposal__item-desc 
                                p производственных и гражданских объектов с нашими полами

            .about-company__our-values-wrapper
                h2.section-title.about-company__chapter-title.about-company__chapter-title_top-indent 
                    |Наши ценности
                ul.about-company__our-values 
                    li.about-company__value
                        h3.about-company__value-title 
                            | Бесперебойные поставки 
                        .about-company__value-desc 
                            | Производим любые объёмы продукции для наших заказчиков и поставляем их в срок
                        .about-company__value-counter 01 

                    li.about-company__value
                        h3.about-company__value-title 
                            | Готовые системы покрытий 
                        .about-company__value-desc 
                            | Ценим ваше время, поэтому предлагаем готовые системы для создания полов, которые включают все необходимые компоненты
                        .about-company__value-counter 02 

                    li.about-company__value
                        h3.about-company__value-title 
                            | Продукция для задач любой сложности 
                        .about-company__value-desc 
                            | Работаем с частными, государственными организациями и гособоронзаказом
                        .about-company__value-counter 03
                
            h2.section-title.about-company__chapter-title.about-company__chapter-title_top-indent 
                |Что мы предлагаем
            ul.about-company__accordions 

                li.about-company__accordions-item
                    +about-company-accordion("01", "Проектным организациям", "standard", "project-organisations", "Подберем несколько решений", "", "false", forProjectOrganisations)

                li.about-company__accordions-item
                    +about-company-accordion("02", "Службам снабжения объектов", "standard", "supply-services", "РАБОТАйте БЕЗ ПОСРЕДНИКОВ", "Заказывайте напрямую у российского производителя", "false", forSupplyServices)
                    
                li.about-company__accordions-item
                    +about-company-accordion("03", "Строительным организациям", "standard", "construction-organisations", "Подберем НУЖНОЕ ПОКРЫТИЕ", "Предложим один или несколько вариантов систем для вашего проекта", "false")
                    
                li.about-company__accordions-item
                    +about-company-accordion("04", "ВУЗам и научно‑исследовательским институтам", "extended", "universities", "Мы открыты для ваших вопросов и предложений", "Предложим один или несколько вариантов систем для вашего проекта", "true")
                    
                li.about-company__accordions-item
                    +about-company-accordion("05", "Поставщикам сырья", "extended", "raw-material-suppliers", "СТАньте ПОСТАВЩИКОМ АЛЬФАПОЛ", "Предложим один или несколько вариантов систем для вашего проекта", "true")
                    
                
            +about-history
            +about-awards

            .about-company__accordions.about-company__accordions_safety
                    .about-company__accordion
                        .accordion-container
                                .ac 
                                    .ac-trigger
                                        .about-company__accordion-header.about-company__accordion-header_safety
                                            .about-company__accordion-title.about-company__accordion-title_safety
                                                |Охрана труда
                                            .about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg
                                    .ac-panel
                                        .about-company__accordion-panel_safety
                                            h4.about-company__accordion-panel-title
                                                |На производственном предприятии «АЛЬФАПОЛ» проведена Специальная Оценка условий Труда.
                                            .about-company__accordion-safety-cards
                                                +about-safety-card("2016", "Ведомость результатов оценки условий труда", "128 кб", "Перечень рекомендуемых мероприятий", "128 кб")
                                                +about-safety-card("2018", "Ведомость результатов оценки условий труда", "128 кб", "Перечень рекомендуемых мероприятий", "128 кб")
                                                +about-safety-card("2020", "Ведомость результатов оценки условий труда", "128 кб", "Перечень рекомендуемых мероприятий", "128 кб")
                                                +about-safety-card("2022", "Ведомость результатов оценки условий труда", "128 кб", "Перечень рекомендуемых мероприятий", "128 кб")