mixin about-manufacture-hero
    section.section.section-about-company.about-company__hero
        .about-company__hero-inner
            .about-company__breadcrumbs.product-hero__breadcrumbs
                .product-hero__breadcrumbs-inner
                    a(href="#").product-hero__breadcrumbs-link Главная
                    +button-arrow.product-hero__breadcrumbs-svg
                    a(href="#").product-hero__breadcrumbs-link Информация и контакты
                    +button-arrow.product-hero__breadcrumbs-svg
                    .product-hero__breadcrumbs-link.active производство
            h1.about-company__title
                | о компании