mixin about-awards
    .about-company__awards
        .about-company__awards-header
            h4.about-company__awards-title
                |Награды и достижения
            .about-company__awards-remote
                .about-company__awards-pagination
                    |pagination 
                .about-company__awards-buttons
                    button.about-company__awards-btn.main-hero__btn.left
                        +swiper-btn.main-hero__btn-svg
                    button.about-company__awards-btn.main-hero__btn.right
                        +swiper-btn.main-hero__btn-svg

        .about-company__awards-slider-wrapper
            .swiper.about-company__awards-slider
                .swiper-wrapper 
                    .swiper-slide 
                        .about-company__awards-slide
                            +picture("award1.png").about-company__awards-img
                    .swiper-slide 
                        .about-company__awards-slide
                            +picture("award1.png").about-company__awards-img
                    .swiper-slide 
                        .about-company__awards-slide
                            +picture("award1.png").about-company__awards-img
                    .swiper-slide 
                        .about-company__awards-slide
                            +picture("award1.png").about-company__awards-img
                    .swiper-slide 
                        .about-company__awards-slide
                            +picture("award1.png").about-company__awards-img
                    .swiper-slide 
                        .about-company__awards-slide
                            +picture("award1.png").about-company__awards-img

