mixin about-manufacture-content
    section.section.catalog

        a(href="#").catalog__sections-btn.about-company__btn о компании 
        .catalog__sections-btn.about-company__btn.active производство 

        .about-company__content
            .about-company__chapter.about-company__chapter_about
            
                h2.section-title.about-company__chapter-title АльфаПОЛ — Российский завод&#8209;изготовитель
                //- .about-company__chapter-subtitle-wrapper
                    
                p.about-company__chapter-subtitle 
                    |Более 25 лет мы производим надежные промышленные покрытия и предлагаем специальные системные технологические решения для всех типов объектов. 

            .about-company__proposal-wrapper
                .section-proposal__inner.about-company__proposal.about-company__proposal_production
                    +picture('about-company-production.png').section-proposal__bg.desktop
                    +picture('about-company-production-tablet.png').section-proposal__bg.tablet
                    +picture('about-company-production-mobile.png').section-proposal__bg.mobile

            .about-company__manufacture-wrapper
                h2.section-title.about-company__chapter-title.about-company__chapter-title_top-indent 
                    |изготавливаем

                .about-company__manufacture-list-wrapper
                    ul.about-company__manufacture-list
                        li.about-company__manufacture-item
                            |Промышленные полы специального назначения
                        li.about-company__manufacture-item
                            |Промышленные полы общего (универсального) назначения
                        li.about-company__manufacture-item
                            |Материалы для комплексной защиты помещений: напольные и настенные радиоэкранирующие, радиационно-защитные, радонозащитные материалы, ремонтные и гидроизоляционные материалы и покрытия

                .about-company__manufacture-image-wrapper
                    +picture("about-manufacture.png").about-company__manufacture-image.desktop
                    +picture("about-manufacture-tablet.png").about-company__manufacture-image.tablet
                    +picture("about-manufacture-mobile.png").about-company__manufacture-image.mobile

                    .about-company__manufacture-image-note
                        .about-company__manufacture-image-title 25000+
                            .about-company__manufacture-image-subtitle тонн в год
                        .about-company__manufacture-image-desc 
                            |Столько продукции позволяют вырабатывать наши заводские мощности. Для выполнения особенно крупных заказов мы задействуем наши резервные площадки.

                .about-company__manufacture-standards
                    .about-company__manufacture-standards-inner 
                        .about-company__manufacture-standards-title 
                            |Вся продукция АЛЬФПОЛ® отвечает российским стандартам качества и стандартам ЕАС в области безопасности и экологии. 
                        .about-company__manufacture-standards-subtitle 
                            |Система менеджмента качества предприятия сертифицирована по ГОСТ ISO 9001–2011 (ISO 9001:2008).

                    .about-company__manufacture-marquee-wrapper(data-marquee-wrapper)
                        .about-company__manufacture-marquee(data-marquee)
                            .about-company__manufacture-marquee-item
                                |ISO 9001:2008
                            .about-company__manufacture-marquee-divider 
                            .about-company__manufacture-marquee-item
                                |ISO 9001:2011
                            .about-company__manufacture-marquee-divider 
                            .about-company__manufacture-marquee-item
                                |ISO 9001:2008
                            .about-company__manufacture-marquee-divider 
                            .about-company__manufacture-marquee-item
                                |ISO 9001:2011
                            .about-company__manufacture-marquee-divider 
                            .about-company__manufacture-marquee-item
                                |ISO 9001:2008
                            .about-company__manufacture-marquee-divider 
                            .about-company__manufacture-marquee-item
                                |ISO 9001:2011
                            .about-company__manufacture-marquee-divider 
                                    

                            

            .about-company__manufacture-wrapper
                h2.section-title.about-company__chapter-title.about-company__chapter-title_top-indent.about-company__chapter-title_wide
                    |современные продукты и системные решения

                .about-company__manufacture-list-wrapper.about-company__manufacture-modern
                    ul.about-company__manufacture-list
                        li.about-company__manufacture-item
                            |Смеси на основе полимерных смол
                        li.about-company__manufacture-item
                            |Смеси на комплексных связующих
                        li.about-company__manufacture-item
                            |Сухие смеси на основе магнезита и портландцемента

                .about-company__manufacture-image-wrapper
                    +picture("about-modern-products.png").about-company__manufacture-image.desktop
                    +picture("about-modern-products-tablet.png").about-company__manufacture-image.tablet
                    +picture("about-modern-products-mobile.png").about-company__manufacture-image.mobile

            ul.about-company__manufacture-cards
                li.about-company__manufacture-card
                    .about-company__manufacture-card-title 
                        |В нашем штате работают квалифицированные химики и инженеры&#8209;технологи, в том числе кандидаты технических наук
                    +production-card-glasses.about-company__manufacture-card-svg

                li.about-company__manufacture-card
                    .about-company__manufacture-card-title 
                        |Лаборатория аттестована Государственным региональным центром стандартизации, метрологии и испытаний в Санкт-Петербурге и Ленинградской области (ФБУ «Тест-Санкт-Петербург»)
                    +production-card-plane.about-company__manufacture-card-svg
                        
                li.about-company__manufacture-card
                    .about-company__manufacture-card-title 
                        |Продукция регулярно проходит испытания в заводской лаборатории, независимых институтах и организациях
                    +production-card-tube.about-company__manufacture-card-svg
                        
                        
