mixin articles-content
    section.section.catalog.articles__section


        .catalog__sections-btn.articles__btn.active статьи 
        a(href="#").catalog__sections-btn.articles__btn Инструкции 
        a(href="#").catalog__sections-btn.articles__btn Вопрос-ответ 

        .about-company__content.articles__content

            +article-preview("20 августа 2020", "Новое слово в обеспечении промышленной безопасности", "Завод АЛЬФАПОЛ, известный российский производитель строительных материалов специального назначения, этим летом представил своим заказчикам новинку — трудногорючий эпоксидный наливной пол АЛЬФАПОЛ ЭП-2ТГ. Этот полимерный материал претендует на то, чтобы стать одним из самых востребованных на рынке специальных промышленных покрытий пола. Данный полимерный материал специально создавался для применения в сооружениях и помещениях с повышенными требованиями по пожарнодля применения в сооружениях и помещениях с повышенными требованиями по пожарнодля применения в сооружениях и помещениях с повышенными требованиями по пожарно", "articles-preview-1")
            +article-preview("20 августа 2020", "Видео от партнеров", "Проектирование нового строительства и реконструкции современных жилых и производственных комплексов жёстко регламентируется генеральным планом конкретного населённого пункта и имеет чёткую привязку к району и рельефу окружающей местности.", "articles-preview-2", "true")
            +article-preview("20 августа 2020","Модернизация магнезиальных и цементных наливных полов", "Проектирование нового строительства и реконструкции современных жилых и производственных комплексов жёстко регламентируется генеральным планом конкретного населённого пункта и имеет чёткую привязку к району и рельефу окружающей местности.", "articles-preview-3")


        button.section-link.articles__show-more
            .section-link__span Показать ещё
            +button-plus-svg.section-link__svg.section-link__svg_white