mixin catalog-goods
    //- section.section.catalog-goods.catalog
    section.section.catalog
        button.catalog__sections-btn.active(data-catalog-btn="catalog-products") продукция 
        button.catalog__sections-btn(data-catalog-btn="catalog-description") описание 

        .catalog__sections-goods.catalog__goods(data-catalog-chapter="catalog-products") 
            a(href="#").catalog-card
                .catalog-card__illustration
                    ul.catalog-card__icons 
                        li.catalog-card__icon(data-card-icon)
                            +adhesion-icon.catalog-card__icon-svg
                            +icon-label("Высокая адгезия").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +universal-icon.catalog-card__icon-svg
                            +icon-label("Универсальность применения").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +temperature-stability-icon.catalog-card__icon-svg
                            +icon-label("Температурная устойчивость до 130°С").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +easy-cleaning-icon.catalog-card__icon-svg
                            +icon-label("Легко мыть и дезинфицировать").catalog-card__icon-label
                    .catalog-card__labels
                        .catalog-card__label новинка
                    +picture('catalog-card.png').catalog-card__image

                .catalog-card__info
                    .catalog-card__desc
                        .catalog-card__desc-info
                            .catalog-card__desc-label Антистатические полы и покрытия
                            h4.catalog-card__title 
                                p.catalog-card__title-brand АЛЬФАПОЛ
                                p.catalog-card__title-model ПУ-4 ВН АСХ
                            p.catalog-card__about
                                |Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
                        .catalog-card__desc-pricing 
                            .catalog-card__price 921,2 ₽ 
                            .catalog-card__price-unit Цена за 1 кг
                    +production-arrow.catalog-card__arrow
                    .catalog-card__specs 
                        p.catalog-card__specs-text
                            |Полиуретановая грунтовка для создания токопроводящего адгезионного слоя по минеральным и полимерным основаниям перед устройством антистатических полимерных покрытий пола. Однокомпонентная. Содержит органический растворитель. Для внутренних работ.

            a(href="#").catalog-card
                .catalog-card__illustration
                    ul.catalog-card__icons 
                        li.catalog-card__icon(data-card-icon)
                            +adhesion-icon.catalog-card__icon-svg
                            +icon-label("Высокая адгезия").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +universal-icon.catalog-card__icon-svg
                            +icon-label("Универсальность применения").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +temperature-stability-icon.catalog-card__icon-svg
                            +icon-label("Температурная устойчивость до 130°С").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +easy-cleaning-icon.catalog-card__icon-svg
                            +icon-label("Легко мыть и дезинфицировать").catalog-card__icon-label
                    .catalog-card__labels
                        .catalog-card__label новинка
                    +picture('catalog-card.png').catalog-card__image

                .catalog-card__info
                    .catalog-card__desc
                        .catalog-card__desc-info
                            .catalog-card__desc-label Антистатические полы и покрытия
                            h4.catalog-card__title 
                                p.catalog-card__title-brand АЛЬФАПОЛ
                                p.catalog-card__title-model ПУ-4 ВН АСХ
                            p.catalog-card__about
                                |Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
                        .catalog-card__desc-pricing 
                            .catalog-card__price 921,2 ₽ 
                            .catalog-card__price-unit Цена за 1 кг
                    +production-arrow.catalog-card__arrow
                    .catalog-card__specs 
                        p.catalog-card__specs-text
                            |Полиуретановая грунтовка для создания токопроводящего адгезионного слоя по минеральным и полимерным основаниям перед устройством антистатических полимерных покрытий пола. Однокомпонентная. Содержит органический растворитель. Для внутренних работ.
            a(href="#").catalog-card
                .catalog-card__illustration
                    ul.catalog-card__icons 
                        li.catalog-card__icon(data-card-icon)
                            +adhesion-icon.catalog-card__icon-svg
                            +icon-label("Высокая адгезия").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +universal-icon.catalog-card__icon-svg
                            +icon-label("Универсальность применения").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +temperature-stability-icon.catalog-card__icon-svg
                            +icon-label("Температурная устойчивость до 130°С").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +easy-cleaning-icon.catalog-card__icon-svg
                            +icon-label("Легко мыть и дезинфицировать").catalog-card__icon-label
                    .catalog-card__labels
                        .catalog-card__label новинка
                    +picture('catalog-card.png').catalog-card__image

                .catalog-card__info
                    .catalog-card__desc
                        .catalog-card__desc-info
                            .catalog-card__desc-label Антистатические полы и покрытия
                            h4.catalog-card__title 
                                p.catalog-card__title-brand АЛЬФАПОЛ
                                p.catalog-card__title-model ПУ-4 ВН АСХ
                            p.catalog-card__about
                                |Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
                        .catalog-card__desc-pricing 
                            .catalog-card__price 921,2 ₽ 
                            .catalog-card__price-unit Цена за 1 кг
                    +production-arrow.catalog-card__arrow
                    .catalog-card__specs 
                        p.catalog-card__specs-text
                            |Полиуретановая грунтовка для создания токопроводящего адгезионного слоя по минеральным и полимерным основаниям перед устройством антистатических полимерных покрытий пола. Однокомпонентная. Содержит органический растворитель. Для внутренних работ.
            a(href="#").catalog-card
                .catalog-card__illustration
                    ul.catalog-card__icons 
                        li.catalog-card__icon(data-card-icon)
                            +adhesion-icon.catalog-card__icon-svg
                            +icon-label("Высокая адгезия").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +universal-icon.catalog-card__icon-svg
                            +icon-label("Универсальность применения").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +temperature-stability-icon.catalog-card__icon-svg
                            +icon-label("Температурная устойчивость до 130°С").catalog-card__icon-label
                        li.catalog-card__icon(data-card-icon)
                            +easy-cleaning-icon.catalog-card__icon-svg
                            +icon-label("Легко мыть и дезинфицировать").catalog-card__icon-label
                    .catalog-card__labels
                        .catalog-card__label новинка
                    +picture('catalog-card.png').catalog-card__image

                .catalog-card__info
                    .catalog-card__desc
                        .catalog-card__desc-info
                            .catalog-card__desc-label Антистатические полы и покрытия
                            h4.catalog-card__title 
                                p.catalog-card__title-brand АЛЬФАПОЛ
                                p.catalog-card__title-model ПУ-4 ВН АСХ
                            p.catalog-card__about
                                |Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
                        .catalog-card__desc-pricing 
                            .catalog-card__price 921,2 ₽ 
                            .catalog-card__price-unit Цена за 1 кг
                    +production-arrow.catalog-card__arrow
                    .catalog-card__specs 
                        p.catalog-card__specs-text
                            |Полиуретановая грунтовка для создания токопроводящего адгезионного слоя по минеральным и полимерным основаниям перед устройством антистатических полимерных покрытий пола. Однокомпонентная. Содержит органический растворитель. Для внутренних работ.





            button.section-link.catalog__show-more
                .section-link__span Показать ещё
                +button-plus-svg.section-link__svg 

        .catalog__sections-desc.catalog__desc(data-catalog-chapter="catalog-description")
            .catalog__desc-section 
                .catalog__desc-subsection
                    p.catalog__desc-about 
                        | Антистатические наливные полимерные или минеральные покрытия, полиуретан-цементные антистатические полы АЛЬФАПОЛ® и системы токопроводящих химстойких грунтовок и красок АС®.
                .catalog__desc-subsection.picture 
                    +picture('hero-slide-3.png').catalog__desc-picture.desktop
                    +picture('catalog-description-tablet.png').catalog__desc-picture.tablet
                    +picture('catalog-description-mobile.png').catalog__desc-picture.mobile


                    

            .catalog__desc-section 
                .catalog__desc-subsection
                    h4.catalog__desc-title
                        | Основные преимущества
                .catalog__desc-subsection
                    ul.catalog__desc-list
                        li.catalog__desc-list-item Серия включает 14 видов продуктов, сочетающихся между собой
                        li.catalog__desc-list-item На выбор — финишные полы или системы покрытий
                        li.catalog__desc-list-item Варианты для всех возможных видов воздействий производственных сред
                        li.catalog__desc-list-item Обеспечивают стойкость к механическим и абразивным нагрузкам
                        li.catalog__desc-list-item Выдерживают частые перемещения грузов и спецтехники
                        li.catalog__desc-list-item Специальные антистатические безыскровые покрытия для взрывоопасных помещений
                        li.catalog__desc-list-item Устойчивость к различным видам химических веществ и органических соединений
                        li.catalog__desc-list-item Безопасность передвижения людей

            .catalog__desc-section 
                .catalog__desc-subsection
                    h4.catalog__desc-title
                        | Объекты применения
                .catalog__desc-subsection
                    ul.catalog__desc-list
                        li.catalog__desc-list-item Предприятия нефтехимической, фармацевтической, машиностроительной промышленности
                        li.catalog__desc-list-item Складские объекты (в том числе охлаждаемые помещения)
                        li.catalog__desc-list-item Объекты связи и эксплуатации ВПК
                        li.catalog__desc-list-item Склады хранения ЛВЖ, ГЖ и горючих газов
                        li.catalog__desc-list-item Общественные и коммерческие помещения