mixin catalog-form
    section.section.catalog-form(data-element="form-wrapper")
        .catalog-form__header
            h4.catalog-form__title Не знаете, какой вид материала подойдет для вашего проекта?
            p.catalog-form__subtitle Отправьте заявку из формы, и мы обязательно подберем оптимальный вариант.


        form.catalog-form__form.callback-form
            .catalog-form__inputs
                .catalog-form__input-wrapper
                    input(type="name", name="name", placeholder="Имя *", value="", maxLength="50" required).catalog-form__input
                .catalog-form__input-wrapper
                    input(type="tel", name="tel", placeholder="Телефон", value="", data-mask-phone).catalog-form__input
                .catalog-form__input-wrapper
                    input(type="email", name="email", placeholder="Email *", value="", maxLength="253" required).catalog-form__input
            .catalog-form__submit
                p.catalog-form__politics
                    | Нажимая кнопку «Отправить», я даю согласие на обработку персональных данных и соглашаюсь с 
                    a(href="#").catalog-form__politics-link политикой конфиденциальности
                p.catalog-form__politics.tablet
                    | Нажимая кнопку «Отправить», я даю согласие на обработку 
                    a(href="#").catalog-form__politics-link персональных данных
                button.section-link.catalog-form__submit-btn(type="submit")
                    .section-link__span Отправить
                    +button-arrow.catalog-form__submit-svg

        +form-small-success 