mixin faq-content
    section.section.catalog.articles__section

        a(href="#").catalog__sections-btn.articles__btn статьи 
        a(href="#").catalog__sections-btn.articles__btn Инструкции 
        .catalog__sections-btn.articles__btn.active Вопрос-ответ 

        .faq
            .faq__your
                h2.faq__your-title Задайте свой вопрос
                button.section-link.faq__your-btn(data-action="ask-your-question")
                    .section-link__span Задать вопрос
                    +button-plus-svg.section-link__svg.section-link__svg_white
            ul.qa-list 
                li.vacancies__item-accordion.instructions__accordion.qa
                    .accordion-container
                        .ac 
                            .ac-trigger
                                .instructions__header.qa__header
                                    .qa__question
                                        | В чём отличие цементных промышленных полов от магнезиальных?
                                    .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                        +swiper-btn.about-company__accordion-svg

                            .ac-panel
                                .qa__answer 
                                    p.qa__answer-paragraph
                                        |Самонивелирующиеся материалы — наливные, легко текучие, – предназначены для тонкого выравнивания (5–25мм) бетонных оснований и цементно-песчаных стяжек с целью придания им более гладкого профиля, повышения прочности пола, придания ему износостойкости и специальных свойств.

                                    p.qa__answer-paragraph
                                        |Бетонные промышленные полы служат для аналогичных целей, но выравнивают более глубокие неровности. Они укладываются более толстыми слоями (20–100мм).

                                    p.qa__answer-paragraph
                                        |Разница по толщине укладки самонивелирующихся и бетонных составов определяется фракцией заполнителя: для самонивелирующихся составов — до 0,63мм, для бетонных — от 2,5 до 10мм.

                                    p.qa__answer-paragraph
                                        |Также покрытия отличаются технологией укладки. Самонивелирующиеся замешиваются миксером в строительном тазу или в специальном растворонасосе, разливаются на подготовленное основание по маякам или формируются раклей и прокатываются игольчатым валиком. Бетонные замешиваются в бетономешалке, распределяются по подготовленному основанию по маякам строительными тачками, выравниваются правилами, уплотняются виброрейками и, если необходимо, дополнительно заглаживаются «вертолётами».



                li.vacancies__item-accordion.instructions__accordion.qa
                    .accordion-container
                        .ac 
                            .ac-trigger
                                .instructions__header.qa__header
                                    .qa__question
                                        | В чем различия бетонных и самовыравнивающихся смесей?
                                    .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                        +swiper-btn.about-company__accordion-svg

                            .ac-panel
                                .qa__answer 
                                    p.qa__answer-paragraph
                                        |Самонивелирующиеся материалы — наливные, легко текучие, – предназначены для тонкого выравнивания (5–25мм) бетонных оснований и цементно-песчаных стяжек с целью придания им более гладкого профиля, повышения прочности пола, придания ему износостойкости и специальных свойств.

                                    p.qa__answer-paragraph
                                        |Бетонные промышленные полы служат для аналогичных целей, но выравнивают более глубокие неровности. Они укладываются более толстыми слоями (20–100мм).

                                    p.qa__answer-paragraph
                                        |Разница по толщине укладки самонивелирующихся и бетонных составов определяется фракцией заполнителя: для самонивелирующихся составов — до 0,63мм, для бетонных — от 2,5 до 10мм.

                                    p.qa__answer-paragraph
                                        |Также покрытия отличаются технологией укладки. Самонивелирующиеся замешиваются миксером в строительном тазу или в специальном растворонасосе, разливаются на подготовленное основание по маякам или формируются раклей и прокатываются игольчатым валиком. Бетонные замешиваются в бетономешалке, распределяются по подготовленному основанию по маякам строительными тачками, выравниваются правилами, уплотняются виброрейками и, если необходимо, дополнительно заглаживаются «вертолётами».



                li.vacancies__item-accordion.instructions__accordion.qa
                    .accordion-container
                        .ac 
                            .ac-trigger
                                .instructions__header.qa__header
                                    .qa__question
                                        | Какие покрытия пола подойдут для открытой неотапливаемой многоуровневой парковки?
                                    .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                        +swiper-btn.about-company__accordion-svg

                            .ac-panel
                                .qa__answer 
                                    p.qa__answer-paragraph
                                        |Самонивелирующиеся материалы — наливные, легко текучие, – предназначены для тонкого выравнивания (5–25мм) бетонных оснований и цементно-песчаных стяжек с целью придания им более гладкого профиля, повышения прочности пола, придания ему износостойкости и специальных свойств.

                                    p.qa__answer-paragraph
                                        |Бетонные промышленные полы служат для аналогичных целей, но выравнивают более глубокие неровности. Они укладываются более толстыми слоями (20–100мм).

                                    p.qa__answer-paragraph
                                        |Разница по толщине укладки самонивелирующихся и бетонных составов определяется фракцией заполнителя: для самонивелирующихся составов — до 0,63мм, для бетонных — от 2,5 до 10мм.

                                    p.qa__answer-paragraph
                                        |Также покрытия отличаются технологией укладки. Самонивелирующиеся замешиваются миксером в строительном тазу или в специальном растворонасосе, разливаются на подготовленное основание по маякам или формируются раклей и прокатываются игольчатым валиком. Бетонные замешиваются в бетономешалке, распределяются по подготовленному основанию по маякам строительными тачками, выравниваются правилами, уплотняются виброрейками и, если необходимо, дополнительно заглаживаются «вертолётами».



                li.vacancies__item-accordion.instructions__accordion.qa
                    .accordion-container
                        .ac 
                            .ac-trigger
                                .instructions__header.qa__header
                                    .qa__question
                                        | Мне необходим материал, который обладает искробезопасностью и антистатичностью (токопроводимостью). Подойдёт ли мне покрытие АЛЬФАПОЛ КИ?
                                    .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                        +swiper-btn.about-company__accordion-svg

                            .ac-panel
                                .qa__answer 
                                    p.qa__answer-paragraph
                                        |Самонивелирующиеся материалы — наливные, легко текучие, – предназначены для тонкого выравнивания (5–25мм) бетонных оснований и цементно-песчаных стяжек с целью придания им более гладкого профиля, повышения прочности пола, придания ему износостойкости и специальных свойств.

                                    p.qa__answer-paragraph
                                        |Бетонные промышленные полы служат для аналогичных целей, но выравнивают более глубокие неровности. Они укладываются более толстыми слоями (20–100мм).

                                    p.qa__answer-paragraph
                                        |Разница по толщине укладки самонивелирующихся и бетонных составов определяется фракцией заполнителя: для самонивелирующихся составов — до 0,63мм, для бетонных — от 2,5 до 10мм.

                                    p.qa__answer-paragraph
                                        |Также покрытия отличаются технологией укладки. Самонивелирующиеся замешиваются миксером в строительном тазу или в специальном растворонасосе, разливаются на подготовленное основание по маякам или формируются раклей и прокатываются игольчатым валиком. Бетонные замешиваются в бетономешалке, распределяются по подготовленному основанию по маякам строительными тачками, выравниваются правилами, уплотняются виброрейками и, если необходимо, дополнительно заглаживаются «вертолётами».



                li.vacancies__item-accordion.instructions__accordion.qa
                    .accordion-container
                        .ac 
                            .ac-trigger
                                .instructions__header.qa__header
                                    .qa__question
                                        | Какие покрытия можно использовать для защиты минеральных промышленных полов от воздействия воды и загрязнений?
                                    .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                        +swiper-btn.about-company__accordion-svg

                            .ac-panel
                                .qa__answer 
                                    p.qa__answer-paragraph
                                        |Самонивелирующиеся материалы — наливные, легко текучие, – предназначены для тонкого выравнивания (5–25мм) бетонных оснований и цементно-песчаных стяжек с целью придания им более гладкого профиля, повышения прочности пола, придания ему износостойкости и специальных свойств.

                                    p.qa__answer-paragraph
                                        |Бетонные промышленные полы служат для аналогичных целей, но выравнивают более глубокие неровности. Они укладываются более толстыми слоями (20–100мм).

                                    p.qa__answer-paragraph
                                        |Разница по толщине укладки самонивелирующихся и бетонных составов определяется фракцией заполнителя: для самонивелирующихся составов — до 0,63мм, для бетонных — от 2,5 до 10мм.

                                    p.qa__answer-paragraph
                                        |Также покрытия отличаются технологией укладки. Самонивелирующиеся замешиваются миксером в строительном тазу или в специальном растворонасосе, разливаются на подготовленное основание по маякам или формируются раклей и прокатываются игольчатым валиком. Бетонные замешиваются в бетономешалке, распределяются по подготовленному основанию по маякам строительными тачками, выравниваются правилами, уплотняются виброрейками и, если необходимо, дополнительно заглаживаются «вертолётами».



                li.vacancies__item-accordion.instructions__accordion.qa
                    .accordion-container
                        .ac 
                            .ac-trigger
                                .instructions__header.qa__header
                                    .qa__question
                                        | На каком этапе/ оптимальные сроки укладывать полимерные материалы на магнезиальные промышленные полы?
                                    .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                        +swiper-btn.about-company__accordion-svg

                            .ac-panel
                                .qa__answer 
                                    p.qa__answer-paragraph
                                        |Самонивелирующиеся материалы — наливные, легко текучие, – предназначены для тонкого выравнивания (5–25мм) бетонных оснований и цементно-песчаных стяжек с целью придания им более гладкого профиля, повышения прочности пола, придания ему износостойкости и специальных свойств.

                                    p.qa__answer-paragraph
                                        |Бетонные промышленные полы служат для аналогичных целей, но выравнивают более глубокие неровности. Они укладываются более толстыми слоями (20–100мм).

                                    p.qa__answer-paragraph
                                        |Разница по толщине укладки самонивелирующихся и бетонных составов определяется фракцией заполнителя: для самонивелирующихся составов — до 0,63мм, для бетонных — от 2,5 до 10мм.

                                    p.qa__answer-paragraph
                                        |Также покрытия отличаются технологией укладки. Самонивелирующиеся замешиваются миксером в строительном тазу или в специальном растворонасосе, разливаются на подготовленное основание по маякам или формируются раклей и прокатываются игольчатым валиком. Бетонные замешиваются в бетономешалке, распределяются по подготовленному основанию по маякам строительными тачками, выравниваются правилами, уплотняются виброрейками и, если необходимо, дополнительно заглаживаются «вертолётами».



                li.vacancies__item-accordion.instructions__accordion.qa
                    .accordion-container
                        .ac 
                            .ac-trigger
                                .instructions__header.qa__header
                                    .qa__question
                                        | Какова минимальная толщина наливного пола на магнезиальной основе для производственного помещения?
                                    .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                        +swiper-btn.about-company__accordion-svg

                            .ac-panel
                                .qa__answer 
                                    p.qa__answer-paragraph
                                        |Самонивелирующиеся материалы — наливные, легко текучие, – предназначены для тонкого выравнивания (5–25мм) бетонных оснований и цементно-песчаных стяжек с целью придания им более гладкого профиля, повышения прочности пола, придания ему износостойкости и специальных свойств.

                                    p.qa__answer-paragraph
                                        |Бетонные промышленные полы служат для аналогичных целей, но выравнивают более глубокие неровности. Они укладываются более толстыми слоями (20–100мм).

                                    p.qa__answer-paragraph
                                        |Разница по толщине укладки самонивелирующихся и бетонных составов определяется фракцией заполнителя: для самонивелирующихся составов — до 0,63мм, для бетонных — от 2,5 до 10мм.

                                    p.qa__answer-paragraph
                                        |Также покрытия отличаются технологией укладки. Самонивелирующиеся замешиваются миксером в строительном тазу или в специальном растворонасосе, разливаются на подготовленное основание по маякам или формируются раклей и прокатываются игольчатым валиком. Бетонные замешиваются в бетономешалке, распределяются по подготовленному основанию по маякам строительными тачками, выравниваются правилами, уплотняются виброрейками и, если необходимо, дополнительно заглаживаются «вертолётами».



                li.vacancies__item-accordion.instructions__accordion.qa
                    .accordion-container
                        .ac 
                            .ac-trigger
                                .instructions__header.qa__header
                                    .qa__question
                                        | Какой материал можно использовать для создания въездных пандусов?
                                    .vacancies__item-btn.instructions__item-btn.about-company__accordion-btn
                                        +swiper-btn.about-company__accordion-svg

                            .ac-panel
                                .qa__answer 
                                    p.qa__answer-paragraph
                                        |Самонивелирующиеся материалы — наливные, легко текучие, – предназначены для тонкого выравнивания (5–25мм) бетонных оснований и цементно-песчаных стяжек с целью придания им более гладкого профиля, повышения прочности пола, придания ему износостойкости и специальных свойств.

                                    p.qa__answer-paragraph
                                        |Бетонные промышленные полы служат для аналогичных целей, но выравнивают более глубокие неровности. Они укладываются более толстыми слоями (20–100мм).

                                    p.qa__answer-paragraph
                                        |Разница по толщине укладки самонивелирующихся и бетонных составов определяется фракцией заполнителя: для самонивелирующихся составов — до 0,63мм, для бетонных — от 2,5 до 10мм.

                                    p.qa__answer-paragraph
                                        |Также покрытия отличаются технологией укладки. Самонивелирующиеся замешиваются миксером в строительном тазу или в специальном растворонасосе, разливаются на подготовленное основание по маякам или формируются раклей и прокатываются игольчатым валиком. Бетонные замешиваются в бетономешалке, распределяются по подготовленному основанию по маякам строительными тачками, выравниваются правилами, уплотняются виброрейками и, если необходимо, дополнительно заглаживаются «вертолётами».

                                    
        .contact-form(data-element="popup",data-popup="ask-your-question")
            button.contact-form__close(data-action="close-popup")
                +close-btn.contact-form__close-svg

            .contact-form__wrapper
                .contact-form__inner(data-element="popup-content")
                    .contact-form__header
                        h4.contact-form__title Задайте свой вопрос
                        #about-subtitle
                    
                    form#about-company-form.contact-form__inputs(data-element="vacation-form")
                        input(type="text", name="name", placeholder="Имя*", required).contact-form__input
                        input(type="tel", name="tel", placeholder="Телефон*", data-mask-phone, data-parsley-phone-required, required).contact-form__input
                        #about-additional-input
                            label(for="contact-form-text-area").contact-form__text-area-label.contact-form__input.vacation__text-area-label
                                textarea#contact-form-text-area(name="contact-form-text-area", placeholder="Ваш вопрос*", maxlength="255", ,data-parsley-errors-container='#questionFormError', required).contact-form__text-area.vacation__text-area
                        #questionFormError

                    .contact-form__agreement 
                        | Нажимая кнопку «Отправить», я даю согласие на обработку 
                        a(href="#").contact-form__personal персональных данных
                    button.contact-form__submit(form="about-company-form", type="submit", value="Отправить")
                        span.contact-form__submit-text Отправить 
                        +button-arrow.contact-form__submit-svg
                
                .contact-form__success(data-element="popup-success")
                    +contact-us-success.contact-form__success-svg
                    h4.contact-form__success-title отправлено
                    p.contact-form__success-desc Спасибо. Мы свяжемся с вами в ближайшее время.
                    button.section-link.contact-form__success-close
                        .section-link__span Закрыть
                        +button-arrow.section-link__svg 


