mixin footer
  footer.footer(class=attributes.class)
    .footer__inner
      .footer__logo.desktop
        //- a(href="#").footer__logo-link
        +footer-logo.footer__logo-svg
      .footer__content
        .footer__content-top
          .footer__contacts
            a(href="#").footer__contact 8 800 350-72-89 
            a(href="#").footer__contact info@alfapol.ru
          ul.footer__nav
            li.footer__nav-li 
              a(href="#").footer-link Каталог
            li.footer__nav-li 
              a(href="#").footer-link Области применения
            li.footer__nav-li 
              a(href="#").footer-link Партнерам
            li.footer__nav-li 
              a(href="#").footer-link О компании
            li.footer__nav-li 
              a(href="#").footer-link Производство
            li.footer__nav-li 
              a(href="#").footer-link Вакансии
            li.footer__nav-li 
              a(href="#").footer-link Контакты
          ul.footer__info
            li.footer__info-li 
              a(href="#").footer-link Полезная информация
            li.footer__info-li 
              a(href="#").footer-link Статьи
            li.footer__info-li 
              a(href="#").footer-link Инструкции
            li.footer__info-li 
              a(href="#").footer-link Вопрос-ответ
          ul.footer__politics 
            li.footer__politics-li
              a(href="#").politics-link Положения об авторских правах 
            li.footer__politics-li
              a(href="#").politics-link Политика конфиденциальности
        .footer__content-bottom
          .footer__copyright
            | © 1997–2023 Производственное предприятие ООО «АЛЬФАПОЛ». Все права защищены. Копирование информации или данных, в частности, использование текстов, фрагментов текста или иллюстраций, требует предварительного согласия компании ООО «АЛЬФАПОЛ»
          .footer__cloudmill 
            p.footer__cloudmill-span Сделано в
            a(href="#").footer__cloudmill-link 
              +footer-cloudmill.footer__cloudmill-svg
      button.footer__up('data-btn=data-up')
        +to-top.footer__up-svg
