mixin header
  header.conatiner.header.header__line-hb(data-element="popup")
    .header__left
      a(href="#").header__logo 
        +header-logo.header__logo-svg
      .header__catalog.header__line-vl.header__line-vr.desktop
        
        button.header__catalog-btn.catalog-btn(data-element="popup")
          .catalog-btn__inner
            span.catalog-btn__span Каталог
            +catalog-btn.catalog-btn__svg

            
    ul.header__center.header__info-ul
      li.header__info-li.accordion-container
        .ac(data-header-menu)
          .ac-header.ac-trigger 
            | Области применения
            +header-info.header__info-svg
          .ac-panel
              a(href="#").header__info-link.ac-panel__link
                | Взрывоопасные помещения
              a(href="#").header__info-link.ac-panel__link
                | Помещения с требованиями защиты электронного оборудования
              a(href="#").header__info-link.ac-panel__link
                | Предприятия АПК и пищевые производства
              a(href="#").header__info-link.ac-panel__link
                | Общественные пространства
              a(href="#").header__info-link.ac-panel__link
                | Производственные и складские помещения
              a(href="#").header__info-link.ac-panel__link
                | Объекты нефтегазовой промышленности
              a(href="#").header__info-link.ac-panel__link
                | Суда и объекты судостроительной промышленности

      li.header__info-li.accordion-container
        .ac(data-header-menu)
          .ac-header.ac-trigger 
            | Информация и контакты
            +header-info.header__info-svg
          .ac-panel
              a(href="#").header__info-link.ac-panel__link
                | О компании
              a(href="#").header__info-link.ac-panel__link
                | Производство
              a(href="#").header__info-link.ac-panel__link
                | Полезная информация
              a(href="#").header__info-link.ac-panel__link
                | Статьи
              a(href="#").header__info-link.ac-panel__link
                | Инструкции
              a(href="#").header__info-link.ac-panel__link
                | Вопрос-ответ

      li.header__info-li Партнерам

    ul.header__right-ul
      li.header__right-li.header__line-vl.header__line-vr 
        button.header__right-btn.transparent-btn.header__search 
          .transparent-btn__inner 
            +header-search.icon
      li.header__right-li 
        button.header__right-btn.grey-btn.cart(data-action="open-cart" data-client-target='open-cart')
          .grey-btn__inner 
            +header-cart.icon
          .cart__counter
            | 0
      li.header__right-li.header__line-vl.header__line-vr 
        a(href="#").header__right-btn.transparent-btn.whatsapp 
          .transparent-btn__inner 
            +header-whatsapp.icon
      li.header__right-li.desktop
        button.header__right-btn.grey-btn.connect(data-action="contact-us" data-client-target='contact-us')
          .grey-btn__inner 
            +header-message.icon
            | Связаться с нами

      li.header__right-li.mobile
        button.header__right-btn.grey-btn.menu-mobile(data-btn="menu-mobile-btn", data-element="popup")
          .grey-btn__inner.burger-btn
            //- .burger-btn__bg
            .burger-btn__line
              .burger-btn__line-inner

.header__contact-form.contact-form(data-element="popup" data-form-target='contact-us')
  button.contact-form__close(data-action="close-popup")
    +close-btn.contact-form__close-svg

  .contact-form__wrapper
    .contact-form__inner(data-element="popup-content")
      .contact-form__header
        h4.contact-form__title связаться с нами
        
      form#header-form.contact-form__inputs
        input(type="text", name="name", placeholder="Имя*", required).contact-form__input
        input(type="tel", name="tel", placeholder="Телефон*", data-mask-phone, data-parsley-phone-required, required).contact-form__input
        .contact-form__agreement 
          | Нажимая кнопку «Отправить», я даю согласие на обработку 
          a(href="#").contact-form__personal персональных данных
        button.contact-form__submit(type="submit", value="Отправить", form="header-form")
          span.contact-form__submit-text Отправить 
          +button-arrow.contact-form__submit-svg
      
    .contact-form__success(data-element="popup-success")
      +contact-us-success.contact-form__success-svg
      h4.contact-form__success-title отправлено
      p.contact-form__success-desc Спасибо. Мы свяжемся с вами в ближайшее время.
      button.section-link.contact-form__success-close
        .section-link__span Закрыть
        +button-arrow.section-link__svg 

.header__catalog-menu.catalog-menu(data-element="popup")
  .catalog-menu__left(data-element="popup", data-catalog="mobile-menu")
    btn.catalog-menu__back-btn.mobile(data-action="close-popup")
      +catalog-btn.catalog-menu__back-svg
      | Назад
    .separator-line.mobile
    ul.catalog-menu__list(data-element="popup", data-catalog="catalog-menu")
      li.catalog-menu__list-item(data-catalog-section="1")
        .catalog-menu__list-link
          span.catalog-menu__list__title Требования к покрытию
          +catalog-btn.catalog-menu__list-svg
        .separator-line.mobile
      li.catalog-menu__list-item(data-catalog-section="2")
        .catalog-menu__list-link
          span.catalog-menu__list__title Способ укладки
          +catalog-btn.catalog-menu__list-svg
        .separator-line.mobile
      li.catalog-menu__list-item(data-catalog-section="3")
        .catalog-menu__list-link 
          span.catalog-menu__list__title Тип вяжущего
          +catalog-btn.catalog-menu__list-svg
  .catalog-menu__center(data-element="popup", data-catalog-block="0")
    btn.catalog-menu__back-btn.mobile(data-catalog="mobile-submenu")
      +catalog-btn.catalog-menu__back-svg
      | Назад
    .separator-line.mobile
    .catalog-menu__center-block(data-catalog-block="1", data-element="popup")
      a(href="#").catalog-menu__center-link
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Антистатические полы и покрытия
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Безыскровые полы
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Полы и покрытия для защиты от излучений
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Жаростойкие бетоны
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Маслобензостойкие полы
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Химически стойкие полы
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Декоративные полы

    .catalog-menu__center-block(data-catalog-block="2", data-element="popup")
      a(href="#").catalog-menu__center-link
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Наливные промышленные полы
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Бетонные промышленные полы
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Полы с упрочнённым верхним слоем
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Краски
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Пропитки и грунтовки
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Химически стойкие полы
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Штукатурные покрытия

    .catalog-menu__center-block(data-catalog-block="3", data-element="popup")
      a(href="#").catalog-menu__center-link
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Полы на основе эпоксидных смол
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Полы на основе полиуретановых смол
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Полы на комплексном вяжущем
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Полы на основе портландцемента
      a(href="#").catalog-menu__center-link 
        +button-arrow.catalog-menu__center-svg
        .catalog-menu__center-title Полы на основе магнезита

  .catalog-menu__right 
    .catalog-menu__right-inner(data-element="popup")
      +picture('antistatic.png').catalog-menu__right-image

.header__cart.contact-form.contact-form_controls(data-element="popup" data-form-target='open-cart')
  button.contact-form__close(data-action="close-popup")
    +close-btn.contact-form__close-svg

  .contact-form__wrapper(data-element="popup-content")

    .contact-form__inner.contact-form__inner_controls
      .contact-form__header
        h4.contact-form__title(data-element="popup-title") корзина
        .separator-line.contact-form__header-separator(data-element="popup-header-separator")

      .header__cart-list-wrapper(data-element="scroll-event")
        ul.header__cart-list

          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg
              
          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg

          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg
              
          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg

          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg
              
          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg

          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg
              
          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg

          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg
              
          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg

          li.header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg
              
          .header__cart-item(data-element="item")
            .header__cart-image-wrapper
              +picture("catalog-card.png").header__cart-image
            .header__cart-desc
              h4.header__cart-title
                | АЛЬФАПОЛ ПУ-4 ВН АСХ
              p.header__cart-subtitle
                | Антистатический кислотостойкий щелочестойкий термостойкий полиуретан-цементный промышленный пол
            button.header__cart-remove.contact-form__close(data-action="remove-item")
              +icon-trashbox.header__cart-remove-svg.contact-form__close-svg


    .contact-form__controls.header__cart-controls
      a(href="#").section-link.product-hero__cart-go-to
        .section-link__span Оформить заказ
        +button-arrow.section-link__svg 

  .header__cart-empty(data-element="popup-success")
    .header__cart-empty-wrapper
      +empty-cart.header__cart-empty-svg
      h4.contact-form__title.header__cart-empty-title
        | корзина пуста
      a(href="#").section-link.header__cart-empty-link
        .section-link__span Перейти в каталог
        +button-arrow.section-link__svg 

      
      