mixin main-hero
    section.section.section-main-hero.main-hero
        .main-hero__wrapper
            h1.main-hero__title.show
                p.main-hero__title_small завод
                | альфапол
            .main-hero__slider.swiper   
                .swiper-wrapper 
                    .swiper-slide 
                        +picture('hero-slide-1.png').desktop
                        +picture('hero-slide-1-t.png').tablet
                        +picture('hero-slide-1-m.png').mobile

                    .swiper-slide 
                        +picture('hero-slide-4.png').desktop
                        +picture('hero-slide-2-t.png').tablet
                        +picture('hero-slide-2-m.png').mobile

                    .swiper-slide 
                        +picture('hero-slide-3.png').desktop
                        +picture('hero-slide-3-t.png').tablet
                        +picture('hero-slide-3-m.png').mobile

                    .swiper-slide 
                        +picture('hero-slide-4.png').desktop
                        +picture('hero-slide-2-t.png').tablet
                        +picture('hero-slide-2-m.png').mobile

                    .swiper-slide 
                        +picture('hero-slide-3.png').desktop
                        +picture('hero-slide-3-t.png').tablet
                        +picture('hero-slide-3-m.png').mobile


            .main-hero__controls
                .main-hero__buttons
                    button.main-hero__btn.left
                        +swiper-btn.main-hero__btn-svg
                    button.main-hero__btn.right.main-hero__btn-right
                        +swiper-btn.main-hero__btn-svg
                .main-hero__pagination

            .main-hero__desc
                .main-hero__title-slider.swiper
                    .swiper-wrapper
                        .swiper-slide
                            .main-hero__slide-inner
                                .main-hero__slide-desc
                                    h4.main-hero__title_first производство промышленных полов и систем для ваших строительных проектов
                        .swiper-slide
                            .main-hero__slide-inner
                                .main-hero__slide-desc
                                    h4.main-hero__title_secondary Наливные промышленные полы на цементной основе
                                    .main-hero__slide-bottom
                                        p.main-hero__desc_secondary Решение для производственных помещений с&nbsp;требованиями пожаробезопасности КМ(о) (НГ) и&nbsp;объектов больших площадей.
                                        a(href="#").section-link 
                                            .section-link__span Подробнее
                                            +button-arrow.section-link__svg 
                        .swiper-slide
                            .main-hero__slide-inner
                                .main-hero__slide-desc
                                    h4.main-hero__title_secondary Антистатические наливные полы
                                    .main-hero__slide-bottom
                                        p.main-hero__desc_secondary Профессиональные покрытия для взрывоопасных производств  и помещений с требованиями защиты электронного оборудования.
                                        a(href="#").section-link 
                                            .section-link__span Подробнее
                                            +button-arrow.section-link__svg 
                        .swiper-slide
                            .main-hero__slide-inner
                                .main-hero__slide-desc
                                    h4.main-hero__title_secondary Наливные промышленные полы на цементной основе
                                    .main-hero__slide-bottom
                                        p.main-hero__desc_secondary Решение для производственных помещений с&nbsp;требованиями пожаробезопасности КМ(о) (НГ) и&nbsp;объектов больших площадей.
                                        a(href="#").section-link 
                                            .section-link__span Подробнее
                                            +button-arrow.section-link__svg 
                        .swiper-slide
                            .main-hero__slide-inner
                                .main-hero__slide-desc
                                    h4.main-hero__title_secondary Антистатические наливные полы
                                    .main-hero__slide-bottom
                                        p.main-hero__desc_secondary Профессиональные покрытия для взрывоопасных производств  и помещений с требованиями защиты электронного оборудования.
                                        a(href="#").section-link 
                                            .section-link__span Подробнее
                                            +button-arrow.section-link__svg 

