mixin partners-content
    section.section.partners 


        //- .contact-form(data-element="popup",data-popup="about-popup")
        //-     button.contact-form__close(data-action="close-popup")
        //-         +close-btn.contact-form__close-svg

        //-     .contact-form__wrapper
        //-         //- .contact-form__inner-wrapper(data-form="standard")
        //-         .contact-form__inner(data-element="popup-content" data-form="standard")
        //-             .contact-form__header
        //-                 h4.contact-form__title связаться с нами
        //-                 #about-subtitle
                    
        //-             form#about-company-form-standard.contact-form__inputs
        //-                 input(type="text", name="name", placeholder="Имя или название организации", required).contact-form__input
        //-                 input(type="tel", name="tel", placeholder="Телефон*", data-mask-phone, data-parsley-phone-required, required).contact-form__input

        //-             .contact-form__agreement 
        //-                 | Нажимая кнопку «Отправить», я даю согласие на обработку 
        //-                 a(href="#").contact-form__personal персональных данных
        //-             button.contact-form__submit(form="about-company-form-standard", type="submit", value="Отправить")
        //-                 span.contact-form__submit-text Отправить 
        //-                 +button-arrow.contact-form__submit-svg




                //- .contact-form__inner-wrapper(data-form="extended")
                .contact-form__inner(data-element="popup-content" data-form="extended")
                    .contact-form__header
                        h4.contact-form__title связаться с нами
                        #about-subtitle
                    
                    form#about-company-form-extended.contact-form__inputs
                        input(type="text", name="name", placeholder="Имя или название организации", required).contact-form__input
                        input(type="tel", name="tel", placeholder="Телефон*", data-mask-phone, data-parsley-phone-required, required).contact-form__input
                        #about-additional-input
                            label(for="contact-form-text-area").contact-form__text-area-label.contact-form__input
                                textarea#contact-form-text-area(name="contact-form-text-area", placeholder="Дополнительная информация", maxlength="255").contact-form__text-area

                    .add-attachment__wrapper(data-element="add-files-block")
                        ul.add-attachment__files.added(data-element="file-list")
                            li.add-attachment__file(data-element="file")
                                .add-attachment__file-name resume.pdf
                                button.add-attachment__file-remove(data-action="remove-file")
                            li.add-attachment__file(data-element="file")
                                .add-attachment__file-name CV.doc
                                button.add-attachment__file-remove(data-action="remove-file")

                            li.add-attachment__file(data-element="file")
                                .add-attachment__file-name resume.pdf
                                button.add-attachment__file-remove(data-action="remove-file")
                            li.add-attachment__file(data-element="file")
                                .add-attachment__file-name CV.doc
                                button.add-attachment__file-remove(data-action="remove-file")
                        button.add-attachment__btn( data-action="attach-file")
                            .add-attachment__icon
                            .add-attachment__text Прикрепить файл

                    .contact-form__agreement 
                        | Нажимая кнопку «Отправить», я даю согласие на обработку 
                        a(href="#").contact-form__personal персональных данных
                    button.contact-form__submit(form="about-company-form-extended", type="submit", value="Отправить")
                        span.contact-form__submit-text Отправить 
                        +button-arrow.contact-form__submit-svg







                
                .contact-form__success(data-element="popup-success")
                    +contact-us-success.contact-form__success-svg
                    h4.contact-form__success-title отправлено
                    p.contact-form__success-desc Спасибо. Мы свяжемся с вами в ближайшее время.
                    button.section-link.contact-form__success-close
                        .section-link__span Закрыть
                        +button-arrow.section-link__svg 

        .about-company__content
            .about-company__chapter.partners__content
                .about-company__chapter-line
                h2.section-title.about-company__chapter-title 
                    |Мы открыты к сотрудничеству
                    
                p.about-company__chapter-subtitle 
                    |С российскими и зарубежными  партнерами, научно-исследовательскими институтами, компаниями строительного профиля, профильными ВУЗами, поставщиками сырья, государственными и муниципальными организациями.

            h2.product-subslider__title.about-company__chapter-title_top-indent Что мы предлагаем
            ul.partners__advantages

                li.partners__advantage
                    +about-company-accordion("01", "Проектным организациям", "standard", "project-organisations", "Подберем несколько решений", "", "false", forProjectOrganisations)
                li.partners__advantage
                    +about-company-accordion("02", "Службам снабжения объектов", "standard", "supply-services", "РАБОТАйте БЕЗ ПОСРЕДНИКОВ", "Заказывайте напрямую у российского производителя", "false", forSupplyServices)
                li.partners__advantage
                    +about-company-accordion("03", "Строительным организациям", "standard", "construction-organisations", "Подберем НУЖНОЕ ПОКРЫТИЕ", "Предложим один или несколько вариантов систем для вашего проекта", "false")
                li.partners__advantage
                    +about-company-accordion("04", "ВУЗам и научно‑исследовательским институтам", "extended", "universities", "Мы открыты для ваших вопросов и предложений", "Предложим один или несколько вариантов систем для вашего проекта", "true")
                li.partners__advantage
                    +about-company-accordion("05", "Поставщикам сырья", "extended", "raw-material-suppliers", "СТАньте ПОСТАВЩИКОМ АЛЬФАПОЛ", "Предложим один или несколько вариантов систем для вашего проекта", "true")

            h2.product-subslider__title.about-company__chapter-title_top-indent Наши принципы в работе

            .partners__principles.desktop
                .partners__principle
                    .partners__principle-counter 01
                    .partners__principle-card
                        +principle-card-1.partners__principle-svg
                        h4.partners__principle-title Высокий уровень сервиса

                    .partners__principle-hover
                        //- .partners__principle-hover-inner
                        |Наша цель — это выстраивание доверительных партнёрских отношений, поэтому мы выступаем за индивидуальный подход к каждому клиенту. Мы предоставляем персонального менеджера, проводим бесплатный расчёт, подбор материалов и профессиональные консультации на всех этапах сделки и после неё.
            
                .partners__principle 
                    .partners__principle-counter 02
                    .partners__principle-card
                        +principle-card-2.partners__principle-svg
                        h4.partners__principle-title Готовые системы покрытий

                    .partners__principle-hover
                        //- .partners__principle-hover-inner
                        |Мы ценим ваше время, поэтому предлагаем готовые системы для создания полов, которые включают все необходимые компоненты.


            
                .partners__principle 
                    .partners__principle-counter 03
                    .partners__principle-card
                        +principle-card-3.partners__principle-svg
                        h4.partners__principle-title Четкое соблюдение сроков

                    .partners__principle-hover
                        //- .partners__principle-hover-inner
                        |Собственное производство и использование отечественного сырья гарантирует быстрое изготовление товара. Самые востребованные позиции всегда в наличии на нашем складе и готовы к срочной отправке.


            
                .partners__principle 
                    .partners__principle-counter 04
                    .partners__principle-card
                        +principle-card-4.partners__principle-svg
                        h4.partners__principle-title Прозрачность

                    .partners__principle-hover
                        //- .partners__principle-hover-inner
                        p
                            |Мы сотрудничаем с частными, государственными организациями и гособоронзаказом, поэтому работаем честно и открыто.
                        p 
                            |Нашим клиентам мы гарантируем выгодные условия сотрудничества и фиксированную скидку. Также мы подбираем специальные решения для каждого проекта и несем ответственность за каждый пункт в договоре.

            .partners__get-orders
                .partners__get-orders-header  
                    h2.product-subslider__title Получайте заказы на ваши услуги
                    button.section-link.partners__request-btn(data-action="ask-your-question")
                        .section-link__span Отправить запрос
                        +button-plus-svg.section-link__svg.section-link__svg_white

                ul.partners__get-orders-cards 
                    li.partners__get-orders-card.partners__get-orders-card_blue 
                        h3.partners__get-orders-card-title Пришлите запрос 
                        .partners__get-orders-card-bottom 
                            +partners-step-1.partners__get-orders-card-svg  
                            .partners__get-orders-card-counter 01
                
                    li.partners__get-orders-card
                        h3.partners__get-orders-card-title Получите несколько вариантов КП
                        .partners__get-orders-card-bottom 
                            +partners-step-2.partners__get-orders-card-svg  
                            .partners__get-orders-card-counter 02
                
                    li.partners__get-orders-card
                        h3.partners__get-orders-card-title Выиграйте ваш контракт
                        .partners__get-orders-card-bottom 
                            +partners-step-3.partners__get-orders-card-svg  
                            .partners__get-orders-card-counter 03

                button.section-link.partners__request-btn.mobile(data-action="ask-your-question")
                    .section-link__span Отправить запрос
                    +button-plus-svg.section-link__svg.section-link__svg_white


            .about-company__proposal-wrapper.partners__image-wrapper
                .section-proposal__inner.about-company__proposal.about-company__proposal_production
                    +picture('about-company-production.png').section-proposal__bg.desktop
                    +picture('about-company-production-tablet.png').section-proposal__bg.tablet
                    +picture('about-company-production-mobile.png').section-proposal__bg.mobile

            h2.product-subslider__title.about-company__chapter-title_top-indent Материалы для проектирования
            ul.instructions__list.partners__project-materials
                +product-hero-document("АЛЬБОМ ТЕХНИЧЕСКИХ РЕШЕНИЙ. КНИГА 1 МАТЕРИАЛЫ МИНЕРАЛЬНОЙ ГРУППЫ", "234 кб").partners__project-material
                +product-hero-document("АЛЬБОМ ТЕХНИЧЕСКИХ РЕШЕНИЙ. КНИГА 2 МАТЕРИАЛЫ ПОЛИМЕРНОЙ ГРУППЫ", "234 кб").partners__project-material


