mixin partners-form
    section.section
        .partners-form
            .partners-form__header
                h4.partners-form__title подберем решение для вашего проекта
                .partners-form__subtitle 
                    |Вы подрядчик, представитель строительной компании или проектирующей организации? 
                    br
                    |Свяжитесь с нами.

            .partners-form__form-wrapper(data-element="form-wrapper")
                form#partners-form.callback-form.partners-form__form 
                    .partners-form__inputs
                        .partners-form__input-wrapper
                            input.product-form__input.partners-form__input(type="name", name="text", placeholder="Имя", autocomplete="off", maxLength="50" required)
                        .partners-form__input-wrapper
                            input.product-form__input.partners-form__input(type="tel", name="text", placeholder="Телефон", autocomplete="off", maxLength="253", data-mask-phone, data-parsley-phone-required required)
                    
                    .partners-form__submit
                        p.catalog-form__politics.partners-form__politics
                            | Нажимая кнопку «Отправить», я даю согласие 
                            a(href="#").partners-form__politics-link
                                |на обработку персональных данных
                            |  и соглашаюсь с 
                            a(href="#").partners-form__politics-link политикой конфиденциальности
                        p.catalog-form__politics.tablet
                            | Нажимая кнопку «Отправить», я даю согласие на обработку 
                            a(href="#").partners-form__politics-link персональных данных

                        button.section-link.partners-form__submit-btn(type="submit" form="partners-form")
                            .section-link__span Отправить
                            +button-arrow.catalog-form__submit-svg

                +form-small-success