mixin product-examples-slider
    section.section.product-examples
        .product-examples__inner 
            .product-examples__slider
                .product-examples__remote-wrapper
                    h2.product-examples__title
                        | Примеры реализации покрытия
                    .product-examples__remote
                        .product-examples__slider-pagination
                        .product-examples__slider-buttons
                            button.product-examples__slider-button.left
                                .product-examples__btn-inner
                                    +swiper-btn.product-examples__btn-svg
                            button.product-examples__slider-button.right
                                .product-examples__btn-inner
                                    +swiper-btn.product-examples__btn-svg
                .swiper.product-examples__swiper
                        .swiper-wrapper 
                            .swiper-slide
                                .product-examples__slide(data-product-example=1)
                                    +picture("product-example-slide1.png").product-examples__slide-image.desktop
                                    +picture("product-example-slide1-m.png").product-examples__slide-image.mobile
                                    ul.product-examples__slide-labels 
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ ЭП-2 АСХ
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ® ЭП-3В
                                    .product-examples__slide-note
                                        h4.product-examples__slide-title  
                                            | Антистатический химстойкий полиуретан-цементный промышленный пол
                                        .product-examples__slide-desc 
                                            .product-examples__slide-area 
                                                | 10 000 м2
                                            .product-examples__slide-desc-divider 
                                            .product-examples__slide-year 
                                                | 2023
                                    .product-examples__slide-plus 
                                        +button-plus-svg.product-examples__slide-plus-svg


                            .swiper-slide
                                .product-examples__slide(data-product-example=2)
                                    +picture("product-example-slide1.png").product-examples__slide-image.desktop
                                    +picture("product-example-slide2-m.png").product-examples__slide-image.mobile
                                    ul.product-examples__slide-labels 
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ ЭП-2 АСХ
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ® ЭП-3В
                                    .product-examples__slide-note
                                        h4.product-examples__slide-title  
                                            | Антистатический химстойкий полиуретан-цементный промышленный пол
                                        .product-examples__slide-desc 
                                            .product-examples__slide-area 
                                                | 10 000 м2
                                            .product-examples__slide-desc-divider 
                                            .product-examples__slide-year 
                                                | 2023
                                    .product-examples__slide-plus 
                                        +button-plus-svg.product-examples__slide-plus-svg


                            .swiper-slide
                                .product-examples__slide(data-product-example=3)
                                    +picture("product-example-slide1.png").product-examples__slide-image.desktop
                                    +picture("product-example-slide1-m.png").product-examples__slide-image.mobile
                                    ul.product-examples__slide-labels 
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ ЭП-2 АСХ
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ® ЭП-3В
                                    .product-examples__slide-note
                                        h4.product-examples__slide-title  
                                            | Антистатический химстойкий полиуретан-цементный промышленный пол
                                        .product-examples__slide-desc 
                                            .product-examples__slide-area 
                                                | 10 000 м2
                                            .product-examples__slide-desc-divider 
                                            .product-examples__slide-year 
                                                | 2023
                                    .product-examples__slide-plus 
                                        +button-plus-svg.product-examples__slide-plus-svg


                            .swiper-slide
                                .product-examples__slide(data-product-example=4)
                                    +picture("product-example-slide1.png").product-examples__slide-image.desktop
                                    +picture("product-example-slide2-m.png").product-examples__slide-image.mobile
                                    ul.product-examples__slide-labels 
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ ЭП-2 АСХ
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ® ЭП-3В
                                    .product-examples__slide-note
                                        h4.product-examples__slide-title  
                                            | Антистатический химстойкий полиуретан-цементный промышленный пол
                                        .product-examples__slide-desc 
                                            .product-examples__slide-area 
                                                | 10 000 м2
                                            .product-examples__slide-desc-divider 
                                            .product-examples__slide-year 
                                                | 2023
                                    .product-examples__slide-plus 
                                        +button-plus-svg.product-examples__slide-plus-svg


                            .swiper-slide
                                .product-examples__slide(data-product-example=5)
                                    +picture("product-example-slide1.png").product-examples__slide-image.desktop
                                    +picture("product-example-slide1-m.png").product-examples__slide-image.mobile
                                    ul.product-examples__slide-labels 
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ ЭП-2 АСХ
                                        li.product-examples__slide-label
                                            |АЛЬФАПОЛ® ЭП-3В
                                    .product-examples__slide-note
                                        h4.product-examples__slide-title  
                                            | Антистатический химстойкий полиуретан-цементный промышленный пол
                                        .product-examples__slide-desc 
                                            .product-examples__slide-area 
                                                | 10 000 м2
                                            .product-examples__slide-desc-divider 
                                            .product-examples__slide-year 
                                                | 2023
                                    .product-examples__slide-plus 
                                        +button-plus-svg.product-examples__slide-plus-svg

        .contact-form.product-popup(data-element="popup")
            button.contact-form__close.product-popup__close(data-action="close-popup")
                +close-btn.contact-form__close-svg
            
            .contact-form__wrapper
            
                .contact-form__inner.product-popup__inner
            
                    .contact-form__header

                        h4.contact-form__title.product-popup__title
                            |Антистатический химстойкий полиуретан-цементный промышленный пол

                        .separator-line.contact-form__header-separator(data-element="popup-header-separator")

                    .product-popup__info-wrapper(data-element="scroll-event")
                        ul.product-popup__info
                            li.product-popup__info-item 
                                .product-popup__info-item-title
                                    | Запрос 
                                .product-popup__info-item-data
                                    | Антистатический химстойкий полиуретан-цементный промышленный пол
                            li.product-popup__info-item 
                                .product-popup__info-item-title
                                    | Объект 
                                .product-popup__info-item-data
                                    | Нижегородский машиностроительный завод
                            li.product-popup__info-item 
                                .product-popup__info-item-title
                                    | Заказчик 
                                .product-popup__info-item-data
                                    | АО «Концерн ВКО „Алмаз-Антей“
                            li.product-popup__info-item 
                                .product-popup__info-item-title
                                    | Местонахождение 
                                .product-popup__info-item-data
                                    | Нижний Новгород
                            li.product-popup__info-item 
                                .product-popup__info-item-title
                                    | Год 
                                .product-popup__info-item-data
                                    | 2022
                            li.product-popup__info-item 
                                .product-popup__info-item-title
                                    | Площадь 
                                .product-popup__info-item-data
                                    | 10 000 м
                                    sup 2

                        .product-popup__attachments
                            .product-popup__document
                                +product-hero-document("Антистатические полы и системы АЛЬФАПОЛ", "234 кб")
                                +product-hero-document("Антистатические полы и системы АЛЬФАПОЛ", "234 кб")
                                +product-hero-document("Антистатические полы и системы АЛЬФАПОЛ", "234 кб")
                                +product-hero-document("Антистатические полы и системы АЛЬФАПОЛ", "234 кб")
                                +product-hero-document("Антистатические полы и системы АЛЬФАПОЛ", "234 кб")
                                +product-hero-document("Антистатические полы и системы АЛЬФАПОЛ", "234 кб")









