mixin main-proposal
    section.section.section-proposal
        .section-proposal__inner
            +picture('main-proposal-bg.png').section-proposal__bg.desktop
            +picture('main-proposal-bg-tablet.png').section-proposal__bg.tablet
            +picture('main-proposal-bg-mobile.png').section-proposal__bg.mobile

            .section-proposal__wrapper
                .section-proposal__item.first 
                    .section-proposal__item-counter 25+
                    .section-proposal__item-desc лет на рынке

                .section-proposal__item.second 
                    .section-proposal__item-counter 1000+
                    .section-proposal__item-desc клиентов выбрали нас в 2022 году

                .section-proposal__item.third 
                    p.section-proposal__item-counter 30000+
                    .section-proposal__item-desc 
                        p производственных и гражданских объектов с нашими полами