- const requirements1 = ["Опыт работы на производственных предприятиях от 3-х лет", "Образование не ниже среднего специального"];
- const requirements2 = ["Входной контроль сырья — испытания в соответствии с требованиями ГОСТов и ТУ", "Проверка премиксов для выпуска материалов" , "Отбор и подготовка проб к испытаниям", "Изготовление образцов материалов, проведение испытаний", "Ведение учётной и отчётной документации", "Проверка готовой продукции на соответствие требований ТУ и ГОСТов"] 
- const requirements3 = ["Трудоустройство по ТК РФ", "Заработная плата + премия", "График работы: 5/2, с 9:00 до 18:00", "Бесплатное корпоративное питание"]

mixin vacancies-content
    section.section.catalog.vacancies-section

        .about-company__content
            .vacancies
                h2.vacancies__chapter-title Мы активно развиваемся и осваиваем новые направления, поэтому всегда открыты для сотрудничества с активными и ответственными людьми.
                p.vacancies__chapter-subtitle Если вы готовы поделиться своим опытом и стать частью команды профессионалов, мы ждем ваше резюме.

            .vacancies__content 
                .vacancies__content-links
                    button.vacancies__content-link.active(data-chapter-btn="vacancies-production")
                        .vacancies__content-link-text
                            |производство
                        sup.vacancies__content-link-sup 
                            |12
                    button.vacancies__content-link(data-chapter-btn="vacancies-office")
                        .vacancies__content-link-text
                            |офис
                        sup.vacancies__content-link-sup 
                            |6

                .vacancies__list-wrapper.active(data-chapter-content="vacancies-production")
                    .vacancies__list
                        .vacancies__item-accordion 
                            .accordion-container
                                .ac 
                                    .ac-trigger
                                        .vacancies__item
                                            .vacancies__item-title
                                                |Рабочий цеха
                                            .vacancies__item-direction Производство
                                            .vacancies__item-location Пушкин
                                            .vacancies__item-btn.about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg

                                    .ac-panel
                                        .vacancies__item-description
                                            .vacancies__item-disclamer
                                                |Уважаемые соискатели, завод по производству строительных смесей в г. Пушкин приглашает работников цеха.
                                            .vacancies__item-info-wrapper
                                                .vacancies__item-info
                                                    +vacancies-description("Опыт работы", "1–3 года")
                                                    +vacancies-description("Занятость", "Полная занятость")
                                                    +vacancies-description("Зарплата", "От 52 000")
                                                    +vacancies-description("Требования", "", requirements1)
                                                    +vacancies-description("Вам предстоит", "", requirements2)
                                                    +vacancies-description("Наши условия", "", requirements3)

                                                button.section-link.vacancies__item-apply-btn(data-action="apply-vacation")
                                                    .section-link__span Откликнуться
                                                    +button-plus-svg.section-link__svg 

                        .vacancies__item-accordion 
                            .accordion-container
                                .ac 
                                    .ac-trigger
                                        .vacancies__item
                                            .vacancies__item-title
                                                |Лаборант-контролер/инженер ОТК
                                            .vacancies__item-direction Производство
                                            .vacancies__item-location Пушкин
                                            .vacancies__item-btn.about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg

                                    .ac-panel
                                        .vacancies__item-description
                                            .vacancies__item-disclamer
                                                |Уважаемые соискатели, завод по производству строительных смесей в г. Пушкин приглашает работников цеха.
                                            .vacancies__item-info-wrapper
                                                .vacancies__item-info
                                                    +vacancies-description("Опыт работы", "1–3 года")
                                                    +vacancies-description("Занятость", "Полная занятость")
                                                    +vacancies-description("Зарплата", "От 52 000")
                                                    +vacancies-description("Требования", "", requirements1)
                                                    +vacancies-description("Вам предстоит", "", requirements2)
                                                    +vacancies-description("Наши условия", "", requirements3)

                                                button.section-link.vacancies__item-apply-btn(data-action="apply-vacation")
                                                    .section-link__span Откликнуться
                                                    +button-plus-svg.section-link__svg 

                        .vacancies__item-accordion 
                            .accordion-container
                                .ac 
                                    .ac-trigger
                                        .vacancies__item
                                            .vacancies__item-title
                                                |Рабочий цеха
                                            .vacancies__item-direction Производство
                                            .vacancies__item-location Санкт-Петербург
                                            .vacancies__item-btn.about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg

                                    .ac-panel
                                        .vacancies__item-description
                                            .vacancies__item-disclamer
                                                |Уважаемые соискатели, завод по производству строительных смесей в г. Пушкин приглашает работников цеха.
                                            .vacancies__item-info-wrapper
                                                .vacancies__item-info
                                                    +vacancies-description("Опыт работы", "1–3 года")
                                                    +vacancies-description("Занятость", "Полная занятость")
                                                    +vacancies-description("Зарплата", "От 52 000")
                                                    +vacancies-description("Требования", "", requirements1)
                                                    +vacancies-description("Вам предстоит", "", requirements2)
                                                    +vacancies-description("Наши условия", "", requirements3)

                                                button.section-link.vacancies__item-apply-btn(data-action="apply-vacation")
                                                    .section-link__span Откликнуться
                                                    +button-plus-svg.section-link__svg 

                        .vacancies__item-accordion 
                            .accordion-container
                                .ac 
                                    .ac-trigger
                                        .vacancies__item
                                            .vacancies__item-title
                                                |Менеджер проекта/инженер по строительству промышленных покрытий пола
                                            .vacancies__item-direction Производство
                                            .vacancies__item-location Пушкин
                                            .vacancies__item-btn.about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg

                                    .ac-panel
                                        .vacancies__item-description
                                            .vacancies__item-disclamer
                                                |Уважаемые соискатели, завод по производству строительных смесей в г. Пушкин приглашает работников цеха.
                                            .vacancies__item-info-wrapper
                                                .vacancies__item-info
                                                    +vacancies-description("Опыт работы", "1–3 года")
                                                    +vacancies-description("Занятость", "Полная занятость")
                                                    +vacancies-description("Зарплата", "От 52 000")
                                                    +vacancies-description("Требования", "", requirements1)
                                                    +vacancies-description("Вам предстоит", "", requirements2)
                                                    +vacancies-description("Наши условия", "", requirements3)

                                                button.section-link.vacancies__item-apply-btn(data-action="apply-vacation")
                                                    .section-link__span Откликнуться
                                                    +button-plus-svg.section-link__svg 





                .vacancies__list-wrapper(data-chapter-content="vacancies-office")
                    .vacancies__list
                        .vacancies__item-accordion 
                            .accordion-container
                                .ac 
                                    .ac-trigger
                                        .vacancies__item
                                            .vacancies__item-title
                                                |Менеджер по продажам (промышленные полы и смеси, строительство)
                                            .vacancies__item-direction Офис
                                            .vacancies__item-location Санкт-Петербург
                                            .vacancies__item-btn.about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg

                                    .ac-panel
                                        .vacancies__item-description
                                            .vacancies__item-disclamer
                                                |Уважаемые соискатели, завод по производству строительных смесей в г. Пушкин приглашает работников цеха.
                                            .vacancies__item-info-wrapper
                                                .vacancies__item-info
                                                    +vacancies-description("Опыт работы", "1–3 года")
                                                    +vacancies-description("Занятость", "Полная занятость")
                                                    +vacancies-description("Зарплата", "От 52 000")
                                                    +vacancies-description("Требования", "", requirements1)
                                                    +vacancies-description("Вам предстоит", "", requirements2)
                                                    +vacancies-description("Наши условия", "", requirements3)

                                                button.section-link.vacancies__item-apply-btn(data-action="apply-vacation")
                                                    .section-link__span Откликнуться
                                                    +button-plus-svg.section-link__svg 

                        .vacancies__item-accordion 
                            .accordion-container
                                .ac 
                                    .ac-trigger
                                        .vacancies__item
                                            .vacancies__item-title
                                                |Лаборант-контролер/инженер ОТК
                                            .vacancies__item-direction Офис
                                            .vacancies__item-location Санкт-Петербург
                                            .vacancies__item-btn.about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg

                                    .ac-panel
                                        .vacancies__item-description
                                            .vacancies__item-disclamer
                                                |Уважаемые соискатели, завод по производству строительных смесей в г. Пушкин приглашает работников цеха.
                                            .vacancies__item-info-wrapper
                                                .vacancies__item-info
                                                    +vacancies-description("Опыт работы", "1–3 года")
                                                    +vacancies-description("Занятость", "Полная занятость")
                                                    +vacancies-description("Зарплата", "От 52 000")
                                                    +vacancies-description("Требования", "", requirements1)
                                                    +vacancies-description("Вам предстоит", "", requirements2)
                                                    +vacancies-description("Наши условия", "", requirements3)

                                                button.section-link.vacancies__item-apply-btn(data-action="apply-vacation")
                                                    .section-link__span Откликнуться
                                                    +button-plus-svg.section-link__svg 

                        .vacancies__item-accordion 
                            .accordion-container
                                .ac 
                                    .ac-trigger
                                        .vacancies__item
                                            .vacancies__item-title
                                                |Менеджер по работе с проектными институтами
                                            .vacancies__item-direction Офис
                                            .vacancies__item-location Санкт-Петербург
                                            .vacancies__item-btn.about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg

                                    .ac-panel
                                        .vacancies__item-description
                                            .vacancies__item-disclamer
                                                |Уважаемые соискатели, завод по производству строительных смесей в г. Пушкин приглашает работников цеха.
                                            .vacancies__item-info-wrapper
                                                .vacancies__item-info
                                                    +vacancies-description("Опыт работы", "1–3 года")
                                                    +vacancies-description("Занятость", "Полная занятость")
                                                    +vacancies-description("Зарплата", "От 52 000")
                                                    +vacancies-description("Требования", "", requirements1)
                                                    +vacancies-description("Вам предстоит", "", requirements2)
                                                    +vacancies-description("Наши условия", "", requirements3)

                                                button.section-link.vacancies__item-apply-btn(data-action="apply-vacation")
                                                    .section-link__span Откликнуться
                                                    +button-plus-svg.section-link__svg 

                        .vacancies__item-accordion 
                            .accordion-container
                                .ac 
                                    .ac-trigger
                                        .vacancies__item
                                            .vacancies__item-title
                                                |Бухгалтер
                                            .vacancies__item-direction Офис
                                            .vacancies__item-location Санкт-Петербург
                                            .vacancies__item-btn.about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg

                                    .ac-panel
                                        .vacancies__item-description
                                            .vacancies__item-disclamer
                                                |Уважаемые соискатели, завод по производству строительных смесей в г. Пушкин приглашает работников цеха.
                                            .vacancies__item-info-wrapper
                                                .vacancies__item-info
                                                    +vacancies-description("Опыт работы", "1–3 года")
                                                    +vacancies-description("Занятость", "Полная занятость")
                                                    +vacancies-description("Зарплата", "От 52 000")
                                                    +vacancies-description("Требования", "", requirements1)
                                                    +vacancies-description("Вам предстоит", "", requirements2)
                                                    +vacancies-description("Наши условия", "", requirements3)

                                                button.section-link.vacancies__item-apply-btn(data-action="apply-vacation")
                                                    .section-link__span Откликнуться
                                                    +button-plus-svg.section-link__svg 

                        .vacancies__item-accordion 
                            .accordion-container
                                .ac 
                                    .ac-trigger
                                        .vacancies__item
                                            .vacancies__item-title
                                                |Менеджер проекта/инженер по строительству промышленных покрытий пола
                                            .vacancies__item-direction Офис
                                            .vacancies__item-location Санкт-Петербург
                                            .vacancies__item-btn.about-company__accordion-btn
                                                +swiper-btn.about-company__accordion-svg

                                    .ac-panel
                                        .vacancies__item-description
                                            .vacancies__item-disclamer
                                                |Уважаемые соискатели, завод по производству строительных смесей в г. Пушкин приглашает работников цеха.
                                            .vacancies__item-info-wrapper
                                                .vacancies__item-info
                                                    +vacancies-description("Опыт работы", "1–3 года")
                                                    +vacancies-description("Занятость", "Полная занятость")
                                                    +vacancies-description("Зарплата", "От 52 000")
                                                    +vacancies-description("Требования", "", requirements1)
                                                    +vacancies-description("Вам предстоит", "", requirements2)
                                                    +vacancies-description("Наши условия", "", requirements3)

                                                button.section-link.vacancies__item-apply-btn(data-action="apply-vacation")
                                                    .section-link__span Откликнуться
                                                    +button-plus-svg.section-link__svg 




        .contact-form(data-element="popup",data-popup="vacation-popup")
            button.contact-form__close(data-action="close-popup")
                +close-btn.contact-form__close-svg

            .contact-form__wrapper
                .contact-form__inner(data-element="popup-content")
                    .contact-form__header
                        h4.contact-form__title откликнуться на вакансию
                        #about-subtitle
                    
                    form#about-company-form.contact-form__inputs(data-element="vacation-form")
                        input(type="text", name="name", placeholder="Имя или название организации", required).contact-form__input
                        input(type="tel", name="tel", placeholder="Телефон*", data-mask-phone, data-parsley-phone-required, required).contact-form__input
                        #about-additional-input
                            label(for="contact-form-text-area").contact-form__text-area-label.contact-form__input.vacation__text-area-label
                                textarea#contact-form-text-area(name="contact-form-text-area", placeholder="Сопроводительное письмо", maxlength="255").contact-form__text-area.vacation__text-area

                    .add-attachment__wrapper(data-element="add-files-block")
                        ul.add-attachment__files.added(data-element="file-list")
                            li.add-attachment__file(data-element="file")
                                .add-attachment__file-name resume.pdf
                                button.add-attachment__file-remove(data-action="remove-file")
                            
                        button.add-attachment__btn( data-action="attach-file")
                            .add-attachment__icon
                            .add-attachment__text Прикрепить файл

                    .contact-form__agreement 
                        | Нажимая кнопку «Отправить», я даю согласие на обработку 
                        a(href="#").contact-form__personal персональных данных
                    button.contact-form__submit(form="about-company-form", type="submit", value="Отправить")
                        span.contact-form__submit-text Отправить 
                        +button-arrow.contact-form__submit-svg
                
                .contact-form__success(data-element="popup-success")
                    +contact-us-success.contact-form__success-svg
                    h4.contact-form__success-title отправлено
                    p.contact-form__success-desc Спасибо. Мы свяжемся с вами в ближайшее время.
                    button.section-link.contact-form__success-close
                        .section-link__span Закрыть
                        +button-arrow.section-link__svg 


