mixin vacancies-form
    section.section.catalog-form.vacancies-form(data-element="form-wrapper")
        .catalog-form__header
            h4.catalog-form__title.vacancies-form__title Не нашли подходящую вакансию? 
            p.catalog-form__subtitle 
                |Отправьте нам своё резюме. 
                br
                | Мы обязательно с ним ознакомимся и дадим вам обратную связь.

        .catalog-form__content
            form#vacancies-form.catalog-form__form.callback-form 
                .product-form__inputs
                    .product-form__input-wrapper
                        input.product-form__input(type="name", name="name", placeholder="Имя*", maxLength="50" required)
                    .product-form__input-wrapper
                        input.product-form__input(type="text", name="email", placeholder="Телефон или почта*", maxLength="253" required)
                    .product-form__input-wrapper               
                        label(for="product-form-msg").product-form__input.msg(data-text-area="textarea-wrapper")
                            textarea#product-form-msg.product-form__msg(type="text", name="message", placeholder="Сопроводительное письмо", maxLength="255", data-text-area="textarea")

            .add-attachment__wrapper(data-element="add-files-block")
                ul.add-attachment__files.added(data-element="file-list")
                    li.add-attachment__file(data-element="file")
                        .add-attachment__file-name.white resume.pdf
                        button.add-attachment__file-remove(data-action="remove-file")
                    
                button.add-attachment__btn( data-action="attach-file")
                    .add-attachment__icon
                    .add-attachment__text.white Прикрепить резюме

            .vacancies-form__submit.catalog-form__submit 
                p.product-form__politics.catalog-form__politics
                    | Нажимая кнопку «Отправить», я даю согласие 
                    a(href="#").catalog-form__politics-link
                        |на обработку персональных данных
                    |  и соглашаюсь с 
                    a(href="#").catalog-form__politics-link политикой конфиденциальности
                button.section-link.product-form__submit-btn.catalog-form__submit-btn(type="submit" form="vacancies-form")
                    .section-link__span Отправить
                    +button-arrow.catalog-form__submit-svg
                

        +form-small-success 
        //- .vacancies-form__success.contact-form(data-element="popup" data-success="popup")
        //-     button.contact-form__close(data-action="close-popup")
        //-         +close-btn.contact-form__close-svg

        //-     .contact-form__wrapper        
        //-         .contact-form__success(data-element="popup-success")
        //-         +contact-us-success.contact-form__success-svg
        //-         h4.contact-form__success-title отправлено
        //-         p.contact-form__success-desc Спасибо. Мы свяжемся с вами в ближайшее время.
        //-         button.section-link.contact-form__success-close
        //-             .section-link__span Закрыть
